.basket-item {
	position: relative;

	border-bottom: 1px solid #eaeaea;
	text-transform: uppercase;
	color: #333;

	.hide-mobile{
		@media @touch {
			display: none;
		}
	}
	.show-mobile{
		display: none;
		@media @touch {
			display: block;
		}
	}

	&:last-child {
		border: 0;
	}

	&__name {
		width: 275px;

		text-transform: uppercase;
		font: 300 11px/14px 'Circe';
		color: #333;
		margin-bottom: 10px;
		@media @touch {
			font: 300 14px/14px 'Circe';
		}
	}


	&__pic {
		display: inline-block;
		vertical-align: middle;

		width: 122px;
		img {
			display: block;
			width: 100%;
			height: auto;
			border: 1px solid #f0f0f0;
			border-radius: 3px;
		}
	}


	&__info {
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
		font-size: 11px;
		font-weight: 300;
		@media screen and (max-width: @mobile_a-max) {
			margin-left: 28px;
		}
	}

	&__size{
		margin-top: 20px;
		select {
			display: block;
			width: 80px;
			height: 38px;
			border: 1px solid #c4c4c4;
			border-radius: 3px;
			padding: 0 15px;
		}
	}

	&__article{
		font: 300 14px/14px 'Circe';
		color: #333;
		margin-bottom: 35px;
	}
	&__article2{
		display: inline-block;
		font: 300 14px/14px 'Circe';
		color: #999;
		margin-left: 20px;
	}

	&__price {
		font: 400 11px/30px 'Circe';
		@media screen and (max-width: @mobile_a-max) {
			display: inline-block;
			line-height: 24px;
		}
		> span{
			font: 300 11px/28px 'Circe';
			padding: 0 3px;
			background: #ffec00;
			position: relative;
			left: -3px;
			@media screen and (max-width: @mobile_a-max) {
				line-height: 24px;
			}
		}
		div{
			font: 400 30px/28px 'Circe';
			@media screen and (max-width: @mobile_a-max) {
				font: 400 24px/24px 'Circe';
			}
			small {
				font-size: 18px;
				@media screen and (max-width: @mobile_a-max) {
					font-size: 16px;
				}
			}
			s{
				text-decoration: none;
				position: relative;
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					margin-top: -1px;
					background: #666;
					position: absolute;
					top: 50%;
				}
			}
		}
		&--old {
			margin-top: -20px;
			@media @touch {
				margin-top: 14px;
			}
			@media screen and (max-width: @mobile_a-max) {
				width: 122px;
				margin-top: 0;
				margin-right: 28px;
			}
			div {
				font: 300 30px/28px 'Circe';
				color: #666;
				@media screen and (max-width: @mobile_a-max) {
					font: 300 20px/24px 'Circe';
				}
			}
		}
	}

	&__nal {
		display: none;

		ul {
			display: inline-block;
			vertical-align: middle;
			width: 11px;
			li {
				display: block;
				height: 4px;
				margin-bottom: 1px;
				background: #f0f0f0;
				&:last-child{
					margin-bottom: 0;
				}
			}
			&[data-nal='1'] li:last-child{
				background: #cf2a2a;
			}
			&[data-nal='2'] li+li+li+li{
				background: #cf2a2a;
			}
			&[data-nal='3'] li+li+li{
				background: #cf2a2a;
			}
			&[data-nal='4'] li+li{
				background: #cf2a2a;
			}
			&[data-nal='5'] li{
				background: #cf2a2a;
			}
		}
		span{
			display: inline-block;
			vertical-align: middle;
			font: 300 11px/11px 'Circe';
			margin-left: 3px;
		}
	}

	&__remove{
		width: 24px;
		height: 24px;
		text-align: center;
		font: 300 21px/26px 'Circe';
		background: #f0f0f0;
		cursor: pointer;
		margin: 0 auto;
		&:hover{
			background: #ed3030;
			color: #fff;
		}
	}

	&__city{
		display: inline-block;
		vertical-align: middle;
		width: 300px;
		font-size: 11px;
		@media screen and (max-width: @mobile_a-max) {
			width: 100%;
		}
		select{
			display: block;
			width: 100%;
			height: 40px;
			border: 1px solid #c4c4c4;
    	border-radius: 3px;
    	padding: 0 10px;
			font-size: 12px;
			text-transform: uppercase;
			margin: 5px 0;
		}
		a{
			display: inline-block;
			color: #999;
			text-decoration: underline;
			@media @touch {
				margin: 10px 0;
			}
			&:hover{
				text-decoration: none;
			}
		}
		& + span{
			display: inline-block;
			margin-left: 45px;
			font-size: 13px;
			background: #ffec00;
			padding: 0 4px;
			@media @touch {
				margin-left: 0;
				margin-top: 5px;
			}
		}
		a[data-btn='modal'],
		& + [data-el='shop-selected']{
			display: none;
		}
	}

	&__city[data-status='selected']{
		a[data-btn='modal'],
		& + [data-el='shop-selected']{
			display: inline-block;
		}
	}
}
