# ignore node modules

# ENVIROMENT
node_modules/


# DEVELOPMENT
development/css/*.css
development/less/z585-all-list.prod.less
development/less/z585-all-list.local.less



# PRODUCTION
production/css/*.css
production/images/