<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Корзина v2</title>
</head>
<body>
	<div id="app" class="page">
		<header class="page__header">
			@@include('scaff/layout__header.html')
		</header>


		<main class="page__content">
			<div class="section">
				<div class="section__inner">
					<h1>VUE Test</h1>

					<carttt inline-template>

						<div>
							<h2>msg = {{ foobar }}</h2>
				
							<div>
								<ol>
									<li v-for="todo in todos">
									{{ todo.text }}
									</li>
								</ol>
								
								<button @click="addTodo">add</button>
							</div>
					</div>
					</carttt>
				</div>
			</div>
		</main>


		<footer class="page__footer">
			@@include('scaff/layout__footer.html')
		</footer>
	</div>

	@@include('scaff/layout__js-list.html')
</body>
</html>