<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Basket Step 1 - Popup</title>


	<!-- здесь подключай свои стили -->
	<!-- НАПРИМЕР: <link rel="stylesheet" href="css/catalog.min.css"> -->
</head>
<body>
	<div class="page basket">
		<main class="page__content">
			
			<!-- всплывающее окноpopup__overlay -->
			
			<!-- тень -->
			<div class="modal__overlay is-show"></div>

			<div class="modal__wrap is-show">
				<h2 class="modal__header">
					<div class="modal__close-but"></div>
					Очистить корзину?
				</h2>
				<p class="modal__info">Вы уверены, что хотите удалить все товары из корзины?</p>
				<div id="ok" class="modal__button">OK</div>
				<div id="cancel" class="modal__button">Отмена</div>
			</div>

			<!-- конец вспл. окна -->

			@@include('scaff/pages__basket-step1.html')
		</main>
	</div>


	@@include('scaff/layout__js-list.html')
	<script src="js/pages/basket-page/basket.js"></script>	
</body>
</html>
