<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Корзина v2</title>
</head>
<body>
	<div id="app" class="page basket">
		<div class="preloader" v-show="$store.state.App.preloader">
			<fingerprint-spinner 
				:animation-duration="1000"
				:size="130"
				:color="'#F53855'"
			/>
		</div>

		<modal name="forget-shops" :adaptive="true" width="500" height="auto">
			<p class="modal__info">Пожалуйста, выберите магазины у всех товаров</p>

			<button @click="$modal.hide('forget-shops')" class="modal__button modal__button--ok">ОК</button>
			<button @click="$modal.hide('forget-shops')" class="modal__close-but"></button>
		</modal>

		<main class="page__content">
			<cart 
				v-cloak  
				:initial-conf='@@include('pages/cart/cart-conf.json')' 
				:initial-data='@@include('pages/cart/cart-data.json')' 
				:initial-shops='@@include('pages/cart/cart-shops.json')' 
			>
			</cart>
		</main>

		<cart-remove-confirm></cart-remove-confirm>
		<cart-clear-confirm></cart-clear-confirm>
		<cart-shops></cart-shops>
		<cart-item-copy></cart-item-copy>


	</div>

	@@include('scaff/layout__js-list.html')
	<script src="js/pages/cart-page/cart.js"></script>
	<script src="js/app2.js"></script>
	<!--
	<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>
	-->
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

</body>
</html>
