<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Корзина v2</title>
</head>
<body>
	<div id="app" class="page basket">
		<main class="page__content">
			@@include('scaff/pages__cart.html')
		</main>
	</div>


	@@include('scaff/layout__js-list.html')
	<script src="js/pages/cart-page/cart.js"></script>


</body>
</html>
