<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Demo1</title>


	<!-- здесь подключай свои стили -->
	<!-- НАПРИМЕР: <link rel="stylesheet" href="css/catalog.min.css"> -->
</head>
<body>
	<div class="page">
		<header class="page__header">
			@@include('scaff/layout__header.html')
		</header>


		<main class="page__content">
			<section class="content section">
				<div class="section__inner">
					<h1>Демо задача</h1>
					<button class="b-button demo-button">Нажми меня!</button></div>
			</section>
		</main>


		<footer class="page__footer">
			@@include('scaff/layout__footer.html')
		</footer>
	</div>

	@@include('scaff/layout__js-list.html')
</body>
</html>