<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Test filter</title>

	<!-- здесь подключай свои стили -->
	<!-- НАПРИМЕР: <link rel="stylesheet" href="css/catalog.min.css"> -->
	
</head>
<body>
	<div class="page">
		<header class="page__header">
			@@include('scaff/layout__header.html')
		</header>


		<main class="page__content">
			<section class="catalog-top cat-filter-wrap">
<form id="catalog_filter_form" name="_form" action="/catalog/yuvelirnye_izdeliya/" method="get" class="filter">

	<div class="search-form-main" id="search-form-main" style="display: block;">

				<div class="filter__param-tabs">
			<a href="#filter-general-params" class="filter__param-tabs-btn" data-btn="">Основные параметры</a>
			<a href="#filter-secondary-params" class="filter__param-tabs-btn" data-btn="">Дополнительные параметры</a>
		</div>

		<div class="filter-sections-wrapper / filter-accordion" data-sect-wrapper="responsive">
										<div class="filter-section" id="filter-general-params">
											<div class="filter-group-wrap" data-filter-val="Internet_price"></div>
											<div class="filter-group-wrap" data-filter-val="WEAR_TYPE"></div>
											<div class="filter-group-wrap" data-filter-val="SIZE_RING_PEND"></div>
											<div class="filter-group-wrap" data-filter-val="METAL"></div>
											<div class="filter-group-wrap" data-filter-val="PROBA"></div>
											<div class="filter-group-wrap" data-filter-val="METALCOLOR"></div>
											<div class="filter-group-wrap" data-filter-val="MAIN_INSERT"></div>
											<div class="filter-group-wrap" data-filter-val="MAIN_COLOR_INSERT"></div>
											<div class="filter-group-wrap" data-filter-val="JEWEL_NUMBER"></div>
											<div class="filter-group-wrap" data-filter-val="WEIGHT_WITH_INSERTS"></div>
									</div>
							<div class="filter-section" id="filter-secondary-params">
											<div class="filter-group-wrap" data-filter-val="TOP_DESIGN_585"></div>
											<div class="filter-group-wrap" data-filter-val="SNAP"></div>
									</div>
					</div>

					<input name="SORT" id="SORT" value="SORT" type="hidden">
						<input name="PAGE_SIZE" id="PAGE_SIZE" value="34" type="hidden">
						<input name="arrFilter_273_3918974738" id="arrFilter_273_3918974738" value="Y" type="hidden">
							
			<div class="filter-sections-wrapper" data-sect-wrapper="desktop">
				<div class="filter-section filter-section-1">
					<div class="filter-section__inner">
				
				
				<div class="filter-section__block filter-product_type-properties">
															<div class="filter-group-wrap" data-filter-val="WEAR_TYPE">
								<fieldset class="filter-group">
									<legend class="filter-group__header">Тип изделия</legend>
									<div class="filter-group__options ">
										<div class="filter-group__options  filter-group__options--scrollbox  js-scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 164px;" tabindex="0">
											
										<div class="jspContainer" style="width: 164px; height: 165px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 151px;"><div class="filter-group__scroll-settings">
												
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/kolca/" id="arrFilter_155_3108575426" value="Y" name="arrFilter_155_3108575426" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">КОЛЬЦО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/sergi/" id="arrFilter_155_888419979" value="Y" name="arrFilter_155_888419979" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">СЕРЬГИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/podveski/" id="arrFilter_155_1631425733" value="Y" name="arrFilter_155_1631425733" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ПОДВЕС</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/cepi/" id="arrFilter_155_1180097146" value="Y" name="arrFilter_155_1180097146" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ЦЕПЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/braslety/" id="arrFilter_155_1439034161" value="Y" name="arrFilter_155_1439034161" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">БРАСЛЕТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/braslety-na-nogu/" id="arrFilter_155_1909833998" value="Y" name="arrFilter_155_1909833998" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">БРАСЛЕТ НА НОГУ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/broshi/" id="arrFilter_155_2858664349" value="Y" name="arrFilter_155_2858664349" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">БРОШЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/bulavki/" id="arrFilter_155_589459321" value="Y" name="arrFilter_155_589459321" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">БУЛАВКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_155_4275829580" value="Y" name="arrFilter_155_4275829580" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">БУСЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/lozhki-zagrebushki/" id="arrFilter_155_1009379417" value="Y" name="arrFilter_155_1009379417" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ЗАГРЕБУШКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/zakolka-dlya-galstuka/" id="arrFilter_155_989526005" value="Y" name="arrFilter_155_989526005" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ЗАКОЛКА ДЛЯ ГАЛСТУКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/zaponki/" id="arrFilter_155_2618438582" value="Y" name="arrFilter_155_2618438582" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ЗАПОНКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/ikony/" id="arrFilter_155_1392624751" value="Y" name="arrFilter_155_1392624751" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ИКОНА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/kolye/" id="arrFilter_155_2492591449" value="Y" name="arrFilter_155_2492591449" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">КОЛЬЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/stolovoe-serebro/" id="arrFilter_155_4024416260" value="Y" name="arrFilter_155_4024416260" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ЛОЖКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_155_1035178867" value="Y" name="arrFilter_155_1035178867" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">МОНЕТА СУВЕНИРНАЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="/catalog/yuvelirnye_izdeliya/pirsing/" id="arrFilter_155_2356800597" value="Y" name="arrFilter_155_2356800597" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ПИРСИНГ</span>
													</label>

													
													<label class="filter-option disabled">
														<input data-url="" id="arrFilter_155_2830439643" value="Y" name="arrFilter_155_2830439643" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">ПОСУДА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_155_4082896313" value="Y" name="arrFilter_155_4082896313" class="filter-option__checkbox wear-type-select" type="checkbox">

															<span class="filter-option__title">СЛЕЙВ</span>
													</label>

																								</div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 165px;"><div class="jspDrag" style="height: 10px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
																			</div>
																	</fieldset>
								</div>
																											</div>
			
				<div class="filter-section__block filter-product_metal-properties">
															<div class="filter-group-wrap" data-filter-val="METAL">
								<fieldset class="filter-group">
									<legend class="filter-group__header">Металл</legend>
									<div class="filter-group__options filter-group__option--2-column">
										
											<div class="filter-group__scroll-settings">
												
													<label class="filter-option disabled">
														<input data-url="" id="arrFilter_157_3887755616" value="Y" name="arrFilter_157_3887755616" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БЕЗ МЕТАЛЛА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_157_1899819237" value="Y" name="arrFilter_157_1899819237" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЗОЛОТО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_157_3752058845" value="Y" name="arrFilter_157_3752058845" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СЕРЕБРО</span>
													</label>

																								</div>
										</div>
																		</fieldset>
								</div>
																													<div class="filter-group-wrap" data-filter-val="PROBA">
								<fieldset class="filter-group">
									<legend class="filter-group__header">Проба</legend>
									<div class="filter-group__options filter-group__option--3-column">
										
											<div class="filter-group__scroll-settings">
												
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_534308556" value="Y" name="arrFilter_158_534308556" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">375</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_612300854" value="Y" name="arrFilter_158_612300854" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">500</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_2630715057" value="Y" name="arrFilter_158_2630715057" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">585</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_328010029" value="Y" name="arrFilter_158_328010029" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">875</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_1865979743" value="Y" name="arrFilter_158_1865979743" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">925</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_2067703508" value="Y" name="arrFilter_158_2067703508" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">960</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_158_2239365823" value="Y" name="arrFilter_158_2239365823" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">999</span>
													</label>

																								</div>
										</div>
																		</fieldset>
								</div>
																														<div class="filter-group-wrap" data-filter-val="METALCOLOR">
										<fieldset class="filter-group">
											<legend class="filter-group__header">Цвет металла:</legend>
											<div class="filter-group__options filter-options_color">
																										<label class="filter-option filter-option--like-tab_color  filter-option_color_2khtsvetn "><input id="arrFilter_159_1317142697" value="Y" name="arrFilter_159_1317142697" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: 2ХЦВЕТН" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">2ХЦВЕТН</span></label>
																											<label class="filter-option filter-option--like-tab_color  filter-option_color_3khtsvetn "><input id="arrFilter_159_3908373277" value="Y" name="arrFilter_159_3908373277" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: 3ХЦВЕТН" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">3ХЦВЕТН</span></label>
																											<label class="filter-option filter-option--like-tab_color  filter-option_color_bez_metalla disabled"><input id="arrFilter_159_3887755616" value="Y" name="arrFilter_159_3887755616" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: БЕЗ МЕТАЛЛА" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">БЕЗ МЕТАЛЛА</span></label>
													<br>														<label class="filter-option filter-option--like-tab_color  filter-option_color_belyy "><input id="arrFilter_159_3046838036" value="Y" name="arrFilter_159_3046838036" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: БЕЛЫЙ" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">БЕЛЫЙ</span></label>
																											<label class="filter-option filter-option--like-tab_color  filter-option_color_zheltyy "><input id="arrFilter_159_553397017" value="Y" name="arrFilter_159_553397017" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: ЖЕЛТЫЙ" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">ЖЕЛТЫЙ</span></label>
																											<label class="filter-option filter-option--like-tab_color  filter-option_color_krasnyy "><input id="arrFilter_159_1824922885" value="Y" name="arrFilter_159_1824922885" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: КРАСНЫЙ" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">КРАСНЫЙ</span></label>
																											<label class="filter-option filter-option--like-tab_color  filter-option_color_chernyy "><input id="arrFilter_159_2127657112" value="Y" name="arrFilter_159_2127657112" class="filter-option__checkbox" type="checkbox"><span data-title="МЕТАЛЛ: ЧЕРНЫЙ" class="filter-option__title filter-option__title-colortab"></span><span class="filter-option__title_hint">ЧЕРНЫЙ</span></label>
																								</div>
										</fieldset>
									</div>
																											</div>
			
				<div class="filter-section__block filter-product_insert-properties">
															<div class="filter-group-wrap" data-filter-val="MAIN_INSERT">
								<fieldset class="filter-group">
									<legend class="filter-group__header">Вставка</legend>
									<div class="filter-group__options ">
										<div class="filter-group__options  filter-group__options--scrollbox  js-scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 175px;" tabindex="0">
											
										<div class="jspContainer" style="width: 175px; height: 165px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 162px;"><div class="filter-group__scroll-settings">
												
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1830750550" value="Y" name="arrFilter_162_1830750550" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БРИЛЛИАНТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3332783715" value="Y" name="arrFilter_162_3332783715" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ТОПАЗ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4153542112" value="Y" name="arrFilter_162_4153542112" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">АМЕТИСТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2511072885" value="Y" name="arrFilter_162_2511072885" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ИЗУМРУД</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3350912745" value="Y" name="arrFilter_162_3350912745" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">САПФИР</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2677276532" value="Y" name="arrFilter_162_2677276532" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БЕЗ ВСТАВКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_206253272" value="Y" name="arrFilter_162_206253272" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">АГАТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1362845775" value="Y" name="arrFilter_162_1362845775" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">АКРИЛ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1450346919" value="Y" name="arrFilter_162_1450346919" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">АЛЕКСАНДРИТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2080825261" value="Y" name="arrFilter_162_2080825261" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БИРЮЗА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3936532910" value="Y" name="arrFilter_162_3936532910" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БИРЮЗА СИНТЕТИЧЕСКАЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1801126437" value="Y" name="arrFilter_162_1801126437" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БРИЛЛИАНТ_ЧЕРНЫЙ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4147626267" value="Y" name="arrFilter_162_4147626267" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ГИДРОТЕРМАЛЬНЫЙ ИЗУМРУД</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2040717060" value="Y" name="arrFilter_162_2040717060" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ГОРНХРУСТАЛЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1006937024" value="Y" name="arrFilter_162_1006937024" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ГРАНАТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_165161427" value="Y" name="arrFilter_162_165161427" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ДИФФУЗИОННЫЙ САПФИР</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1122115849" value="Y" name="arrFilter_162_1122115849" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ДК ПРОЧЕЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3561243971" value="Y" name="arrFilter_162_3561243971" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЖЕМЧУГ</span>
													</label>

													
													<label class="filter-option disabled">
														<input data-url="" id="arrFilter_162_1992524352" value="Y" name="arrFilter_162_1992524352" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЖЕМЧУГ ИСКУСТВ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1018094111" value="Y" name="arrFilter_162_1018094111" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ИЗУМРУД СИНТЕТИЧЕСКИЙ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2669338486" value="Y" name="arrFilter_162_2669338486" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КВАРЦ</span>
													</label>

													
													<label class="filter-option disabled">
														<input data-url="" id="arrFilter_162_3811972302" value="Y" name="arrFilter_162_3811972302" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОРАЛЛ</span>
													</label>

													
													<label class="filter-option disabled">
														<input data-url="" id="arrFilter_162_174389348" value="Y" name="arrFilter_162_174389348" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МАРКАЗИТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4073301433" value="Y" name="arrFilter_162_4073301433" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МУРАНСКОЕ СТЕКЛО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1588451815" value="Y" name="arrFilter_162_1588451815" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">НАНО-ИЗУМРУД</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3648006838" value="Y" name="arrFilter_162_3648006838" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">НАНО-САПФИР</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1463646251" value="Y" name="arrFilter_162_1463646251" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБЛАГОРОЖЕННЫЙ РУБИН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2533230694" value="Y" name="arrFilter_162_2533230694" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОНИКС</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3592764019" value="Y" name="arrFilter_162_3592764019" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПДК ПРОЧИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4272854845" value="Y" name="arrFilter_162_4272854845" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПЕРЛАМУТР</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3804439813" value="Y" name="arrFilter_162_3804439813" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПОДЕЛ ПРОЧЕЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1772657704" value="Y" name="arrFilter_162_1772657704" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РАУХ-ТОПАЗ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3390331633" value="Y" name="arrFilter_162_3390331633" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РОДОЛИТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4207882425" value="Y" name="arrFilter_162_4207882425" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РУБИН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1786008483" value="Y" name="arrFilter_162_1786008483" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">САПФИР СИНТЕТИЧЕСКИЙ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_398271494" value="Y" name="arrFilter_162_398271494" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СВАРОВСКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_4020207087" value="Y" name="arrFilter_162_4020207087" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СТЕКЛО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_679124393" value="Y" name="arrFilter_162_679124393" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ТОПАЗ ЛОНДОН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3463512678" value="Y" name="arrFilter_162_3463512678" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ТУРМАЛИН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_473987779" value="Y" name="arrFilter_162_473987779" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФИАНИТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1951589457" value="Y" name="arrFilter_162_1951589457" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ХРИЗОЛИТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3161029607" value="Y" name="arrFilter_162_3161029607" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЦИРКОН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2068325575" value="Y" name="arrFilter_162_2068325575" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЦИТРИН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1840715191" value="Y" name="arrFilter_162_1840715191" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ШПИНЕЛЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2686077796" value="Y" name="arrFilter_162_2686077796" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЭМАЛЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_1375176203" value="Y" name="arrFilter_162_1375176203" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЮВЕЛИРНЫЙ КРИСТАЛЛ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_2981811250" value="Y" name="arrFilter_162_2981811250" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЯНТАРЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_162_3355311156" value="Y" name="arrFilter_162_3355311156" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЯШМА</span>
													</label>

																								</div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 165px;"><div class="jspDrag" style="height: 10px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
																			</div>
																	</fieldset>
								</div>
																											</div>
			
				<div class="filter-section__block filter-product_diamondquantity-properties">
																<div class="filter-group-wrap" data-filter-val="JEWEL_NUMBER">
										<fieldset class="filter-group">
											<legend class="filter-group__header">Количество камней</legend>
													<div class="filter-group__options  filter-group__option--2-column">
																														<label class="filter-option "><input id="arrFilter_171_4094910864" value="Y" name="arrFilter_171_4094910864" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">1</span></label>
																																<label class="filter-option "><input id="arrFilter_171_1058474965" value="Y" name="arrFilter_171_1058474965" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">много</span></label>
																													</div>
										</fieldset>
									</div>
																														<div class="filter-group-wrap" data-filter-val="MAIN_COLOR_INSERT">
										<fieldset class="filter-group">
											<legend class="filter-group__header">Цвет вставки:</legend>
											<div class="filter-group__options filter-group__options_colorinsert">
																										<label class="filter-option filter-option--like-tab filter-option_colorinsert_belyy "><input id="arrFilter_163_3046838036" value="Y" name="arrFilter_163_3046838036" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: БЕЛЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_goluboy "><input id="arrFilter_163_2829264640" value="Y" name="arrFilter_163_2829264640" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ГОЛУБОЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_zheltyy "><input id="arrFilter_163_553397017" value="Y" name="arrFilter_163_553397017" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ЖЕЛТЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_zelenyy "><input id="arrFilter_163_667823249" value="Y" name="arrFilter_163_667823249" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ЗЕЛЕНЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_konyachnyy "><input id="arrFilter_163_1854892716" value="Y" name="arrFilter_163_1854892716" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: КОНЬЯЧНЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_korichnevyy "><input id="arrFilter_163_2588759780" value="Y" name="arrFilter_163_2588759780" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: КОРИЧНЕВЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_krasnyy "><input id="arrFilter_163_1824922885" value="Y" name="arrFilter_163_1824922885" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: КРАСНЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_oranzhevyy "><input id="arrFilter_163_3980228350" value="Y" name="arrFilter_163_3980228350" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ОРАНЖЕВЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_raznotsvetnyy "><input id="arrFilter_163_2795279434" value="Y" name="arrFilter_163_2795279434" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: РАЗНОЦВЕТНЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_rozovyy "><input id="arrFilter_163_452369506" value="Y" name="arrFilter_163_452369506" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: РОЗОВЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_seryy "><input id="arrFilter_163_3010122322" value="Y" name="arrFilter_163_3010122322" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: СЕРЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_siniy "><input id="arrFilter_163_377874535" value="Y" name="arrFilter_163_377874535" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: СИНИЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_sirenevyy "><input id="arrFilter_163_3255455528" value="Y" name="arrFilter_163_3255455528" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: СИРЕНЕВЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_fioletovyy "><input id="arrFilter_163_444446048" value="Y" name="arrFilter_163_444446048" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ФИОЛЕТОВЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_cherno_belyy "><input id="arrFilter_163_3350415118" value="Y" name="arrFilter_163_3350415118" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ЧЕРНО-БЕЛЫЙ"></span></label>
																												<label class="filter-option filter-option--like-tab filter-option_colorinsert_chernyy "><input id="arrFilter_163_2127657112" value="Y" name="arrFilter_163_2127657112" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title" data-title="ВСТАВКА: ЧЕРНЫЙ"></span></label>
																									</div>
										</fieldset>
									</div>
										 																						<div class="filter-group-wrap" data-filter-val="WEIGHT_WITH_INSERTS">
									<fieldset class="filter-group">
										<legend class="filter-group__header">вес со вставками:</legend>
										<div class="filter-group__options">
											<label class="filter-option filter-option_content_textfield_light"><span class="filter-option__title-before_field">от</span><input id="arrFilter_153_MIN" value="" name="arrFilter_153_MIN" class="filter-option__textfield filter-option__textfield_small" type="text"><span class="filter-option__title-before_field">до</span><input name="arrFilter_153_MAX" id="arrFilter_153_MAX" value="" class="filter-option__textfield filter-option__textfield_small" type="text"></label>
										</div>
									</fieldset>
									</div>
																												</div>
			
				<div class="filter-section__block filter-product_typedesign-properties">
															<div class="filter-group-wrap" data-filter-val="TOP_DESIGN_585">
								<fieldset class="filter-group">
									<legend class="filter-group__header">Дизайн</legend>
									<div class="filter-group__options ">
										<div class="filter-group__options  filter-group__options--scrollbox  js-scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 273px;" tabindex="0">
											
										<div class="jspContainer" style="width: 273px; height: 165px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 260px;"><div class="filter-group__scroll-settings">
												
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3289438945" value="Y" name="arrFilter_165_3289438945" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БУКВЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_565656086" value="Y" name="arrFilter_165_565656086" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ДОРОЖКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4156998527" value="Y" name="arrFilter_165_4156998527" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЗОДИАКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1703361128" value="Y" name="arrFilter_165_1703361128" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБРУЧАЛЬНЫЕ С КАМНЯМИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2838075335" value="Y" name="arrFilter_165_2838075335" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">АНИМАЛИСТИКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2210041258" value="Y" name="arrFilter_165_2210041258" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БИСМАРК</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3299395523" value="Y" name="arrFilter_165_3299395523" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">БУСИНЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_577023464" value="Y" name="arrFilter_165_577023464" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ВЕНЕЦИЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2274048643" value="Y" name="arrFilter_165_2274048643" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ВЕРЕВКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1398903527" value="Y" name="arrFilter_165_1398903527" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ГЕОМЕТРИЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2735019938" value="Y" name="arrFilter_165_2735019938" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ГЛАЗ ПАНТЕРЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1738812918" value="Y" name="arrFilter_165_1738812918" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ДЕТСКИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1194497665" value="Y" name="arrFilter_165_1194497665" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЖЕСТКИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_651584424" value="Y" name="arrFilter_165_651584424" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЗВЕНЬЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4248736462" value="Y" name="arrFilter_165_4248736462" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ИКОНЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2213536751" value="Y" name="arrFilter_165_2213536751" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КАРДАНО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3328833373" value="Y" name="arrFilter_165_3328833373" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КАРДИНАЛ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4212050098" value="Y" name="arrFilter_165_4212050098" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КАФФА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1025224495" value="Y" name="arrFilter_165_1025224495" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КВАДРАТНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3763243665" value="Y" name="arrFilter_165_3763243665" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОБРА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3843545253" value="Y" name="arrFilter_165_3843545253" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОЛОС</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2492591449" value="Y" name="arrFilter_165_2492591449" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОЛЬЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_962181350" value="Y" name="arrFilter_165_962181350" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3764479971" value="Y" name="arrFilter_165_3764479971" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО ГЛАДКИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_523235224" value="Y" name="arrFilter_165_523235224" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО ДУТЫЕ ГЛАДКИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2558673209" value="Y" name="arrFilter_165_2558673209" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО С АЛМАЗНОЙ ГРАНЬЮ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1869507826" value="Y" name="arrFilter_165_1869507826" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО С ПОДВЕСОМ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3384182077" value="Y" name="arrFilter_165_3384182077" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОНГО С ШАРИКАМИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_706697325" value="Y" name="arrFilter_165_706697325" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОРДА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_400256961" value="Y" name="arrFilter_165_400256961" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КОСИЧКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3141819733" value="Y" name="arrFilter_165_3141819733" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КРЕСТЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_609198847" value="Y" name="arrFilter_165_609198847" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КРУГЛЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1076627524" value="Y" name="arrFilter_165_1076627524" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КРУЧЕНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4065874288" value="Y" name="arrFilter_165_4065874288" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">КУЛЬТОВЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1628945833" value="Y" name="arrFilter_165_1628945833" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЛАВ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3066429736" value="Y" name="arrFilter_165_3066429736" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЛЕПЕСТКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_658253179" value="Y" name="arrFilter_165_658253179" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЛИСИЙ ХВОСТ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2334498478" value="Y" name="arrFilter_165_2334498478" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МАЛИНКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1336147675" value="Y" name="arrFilter_165_1336147675" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МАССИВНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2452302725" value="Y" name="arrFilter_165_2452302725" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МНОГОКАМЕНКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1707028469" value="Y" name="arrFilter_165_1707028469" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">МНОГОКАМЕНКА КАК ОДИН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_853878934" value="Y" name="arrFilter_165_853878934" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">НАБОРНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3252194053" value="Y" name="arrFilter_165_3252194053" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">НИТЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4155763225" value="Y" name="arrFilter_165_4155763225" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">НОННА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_625157578" value="Y" name="arrFilter_165_625157578" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБРУЧАЛЬНЫЕ ГЛАДКИЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1074420089" value="Y" name="arrFilter_165_1074420089" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБРУЧАЛЬНЫЕ ДИФФУЗИЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2212168908" value="Y" name="arrFilter_165_2212168908" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБРУЧАЛЬНЫЕ С АЛМ.ГРАНЬЮ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_395657890" value="Y" name="arrFilter_165_395657890" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОБРУЧАЛЬНЫЕ С ВРАЩ.ВСТАВКОЙ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_411621596" value="Y" name="arrFilter_165_411621596" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ОДНОКАМЕНКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1215511628" value="Y" name="arrFilter_165_1215511628" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПАНЦИРЬ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4255739809" value="Y" name="arrFilter_165_4255739809" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПЕРЛИНА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2097821037" value="Y" name="arrFilter_165_2097821037" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПЕРСИДСКАЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2546659418" value="Y" name="arrFilter_165_2546659418" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПЕТЛИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4092858145" value="Y" name="arrFilter_165_4092858145" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПЕЧАТКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2469015508" value="Y" name="arrFilter_165_2469015508" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПОПКОРН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_256182262" value="Y" name="arrFilter_165_256182262" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПРОДЕВКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_772601744" value="Y" name="arrFilter_165_772601744" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПРОЧЕЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_4152352971" value="Y" name="arrFilter_165_4152352971" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПТИЧИЙ ГЛАЗ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2240897604" value="Y" name="arrFilter_165_2240897604" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ПУССЕТЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2896587072" value="Y" name="arrFilter_165_2896587072" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РОЗА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3602396671" value="Y" name="arrFilter_165_3602396671" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РОЛЕКС</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2225671025" value="Y" name="arrFilter_165_2225671025" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РОЛЛО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3867394876" value="Y" name="arrFilter_165_3867394876" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">РОМБ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2425071262" value="Y" name="arrFilter_165_2425071262" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">С ПОДВЕСКАМИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2734662403" value="Y" name="arrFilter_165_2734662403" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СЕРДЕЧКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3368083802" value="Y" name="arrFilter_165_3368083802" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СЕРЬГА ШТУЧНАЯ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_834034737" value="Y" name="arrFilter_165_834034737" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СИМВОЛЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3322853956" value="Y" name="arrFilter_165_3322853956" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СИНГАПУР</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2754640215" value="Y" name="arrFilter_165_2754640215" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">СТРУЖКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3233063095" value="Y" name="arrFilter_165_3233063095" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ТОНДО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3617472924" value="Y" name="arrFilter_165_3617472924" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">УЗОРЫ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3990057736" value="Y" name="arrFilter_165_3990057736" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">УЛИТКА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_3173249896" value="Y" name="arrFilter_165_3173249896" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФАКТУРА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1163639858" value="Y" name="arrFilter_165_1163639858" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФАЛАНГОВОЕ КОЛЬЦО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2178822384" value="Y" name="arrFilter_165_2178822384" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФАНТАЗИЙНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_664499591" value="Y" name="arrFilter_165_664499591" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФАРАОН</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_609588814" value="Y" name="arrFilter_165_609588814" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ФИГАРО</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1122688282" value="Y" name="arrFilter_165_1122688282" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЦВЕТКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2432862809" value="Y" name="arrFilter_165_2432862809" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЦВЕТНЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1319747931" value="Y" name="arrFilter_165_1319747931" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЧАЛМА</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1966732698" value="Y" name="arrFilter_165_1966732698" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ШНУРКИ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_1854904200" value="Y" name="arrFilter_165_1854904200" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ШНУРОК КАУЧУКОВЫЙ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2225113045" value="Y" name="arrFilter_165_2225113045" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ШТАМПОВАННЫЕ</span>
													</label>

													
													<label class="filter-option ">
														<input data-url="" id="arrFilter_165_2544490235" value="Y" name="arrFilter_165_2544490235" class="filter-option__checkbox " type="checkbox">

															<span class="filter-option__title">ЯКОРЬ</span>
													</label>

																								</div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 165px;"><div class="jspDrag" style="height: 10px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
																			</div>
																	</fieldset>
								</div>
																											</div>
								</div>
				</div>
	<div class="filter-section filter-section-2">
		<div class="filter-section__inner">
												<div class="filter-section__block filter-product_category-properties">
																<div class="filter-group-wrap" data-filter-val="rubrics">
																	<fieldset class="filter-group">
																		<legend class="filter-group__header">Рубрика</legend>
																		<div class="filter-group__options ">
																			<div class="filter-group__options  filter-group__options--scrollbox  js-scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 149px;" tabindex="0">																				
																			<div class="jspContainer" style="width: 149px; height: 65px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 136px;"><div class="filter-group__scroll-settings">
																																												<label class="filter-option "><input id="arrFilter_8_2403873979" value="Y" name="arrFilter_8_2403873979" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Hypnosis</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_1709882652" value="Y" name="arrFilter_8_1709882652" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Pave entry</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_330427826" value="Y" name="arrFilter_8_330427826" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Детская коллекция</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_3024978231" value="Y" name="arrFilter_8_3024978231" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Дополнительная скидка 10%_окт 2017</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_3408044797" value="Y" name="arrFilter_8_3408044797" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Коллекция "Мать и дитя"</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_3836191592" value="Y" name="arrFilter_8_3836191592" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Океания</span></label>
																																													<label class="filter-option "><input id="arrFilter_8_18944351" value="Y" name="arrFilter_8_18944351" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">Подвес на карабине</span></label>
																																										</div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 65px;"><div class="jspDrag" style="height: 10px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
																																					</div>
																																			</fieldset>
																</div>
									</div>
       																			<div class="filter-section__block filter-product_collection-properties">
																<div class="filter-group-wrap" data-filter-val="SNAP">
																	<fieldset class="filter-group">
																		<legend class="filter-group__header">Замок</legend>
																		<div class="filter-group__options ">
																			<div class="filter-group__options  filter-group__options--scrollbox  js-scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 182px;" tabindex="0">																				
																			<div class="jspContainer" style="width: 182px; height: 65px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 169px;"><div class="filter-group__scroll-settings">
																																												<label class="filter-option "><input id="arrFilter_175_331807770" value="Y" name="arrFilter_175_331807770" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">АНГЛИЙСКИЙ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_654913564" value="Y" name="arrFilter_175_654913564" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ВИНТОВОЙ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_1059182932" value="Y" name="arrFilter_175_1059182932" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">КЛИПСА</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_2862795957" value="Y" name="arrFilter_175_2862795957" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">КОСТЫЛЬ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_2462953185" value="Y" name="arrFilter_175_2462953185" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">КРЮЧОК</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_27168708" value="Y" name="arrFilter_175_27168708" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ПРОДЕВКА</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_772601744" value="Y" name="arrFilter_175_772601744" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ПРОЧИЕ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_1603078616" value="Y" name="arrFilter_175_1603078616" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ФРАНЦУЗСКИЙ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_2884086645" value="Y" name="arrFilter_175_2884086645" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ЦАНГОВЫЙ</span></label>
																																													<label class="filter-option "><input id="arrFilter_175_2628044934" value="Y" name="arrFilter_175_2628044934" class="filter-option__checkbox" type="checkbox"><span class="filter-option__title">ШПРИНГЕЛЬ</span></label>
																																										</div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 65px;"><div class="jspDrag" style="height: 10px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
																																					</div>
																																			</fieldset>
																</div>
									</div>
       																		<div class="filter-section__block filter-product_price-properties">
									<div class="filter-group-wrap" data-filter-val="Internet_price">
<fieldset class="filter-group filter-option_content_textfield">
	<div class="filter-group__options filter-group__options_price">
		<label class="filter-option filter-option_content_textfield_light"><span class="filter-option__title-before_field">цена от </span><input name="arrFilter_P5_MIN" id="arrFilter_P5_MIN" value="" class="filter-option__textfield filter-option__textfield_big" type="text"><span class="filter-option__title-before_field">до</span><input name="arrFilter_P5_MAX" id="arrFilter_P5_MAX" value="" class="filter-option__textfield filter-option__textfield_big" type="text"></label>
	</div>		
	<div class="filter-group__options filter-group__options_price_line">
		<label class="filter-option filter-option-price-options"><input class="no-filter-ajax filter-option__checkbox" name="saleFilter" id="saleFilter" value="1" type="checkbox"><span class="filter-option__title">sale</span></label>

	</div>		
</fieldset>
</div>
								</div>
																			<div class="filter-section__block filter-product_sizes-properties">
									<div class="filter-group-wrap" data-filter-val="SIZE_RING_PEND">
									<fieldset class="filter-group">
										<legend class="filter-group__header">Размеры</legend>
										<div class="filter-group__options">
											<a href="#" class="filter-group__note-link">Как узнать размер</a>
											
											
<div class="filter-product_size-properties__dropdown-wrapper size-filter-block">
	<div class="dropdown"><span class="old"><select class="" id="EasyDropDown9EE401">		
	<option value="0" selected="">КОЛЬЦА, ПОДВЕСЫ, КОНГО:</option>
			
				<option data-name="arrFilter_150_2327872220" data-id="arrFilter_150_2327872220" class="size-block-select-option" value="Y">10.00</option>
		
						
				<option data-name="arrFilter_150_2557816114" data-id="arrFilter_150_2557816114" class="size-block-select-option" value="Y">13.00</option>
		
						
				<option data-name="arrFilter_150_3842169207" data-id="arrFilter_150_3842169207" class="size-block-select-option" value="Y">13.50</option>
		
						
				<option data-name="arrFilter_150_94508427" data-id="arrFilter_150_94508427" class="size-block-select-option" value="Y">14.00</option>
		
						
				<option data-name="arrFilter_150_2027282894" data-id="arrFilter_150_2027282894" class="size-block-select-option" value="Y">14.50</option>
		
						
				<option data-name="arrFilter_150_3172889326" data-id="arrFilter_150_3172889326" class="size-block-select-option" value="Y">15.00</option>
		
						
				<option data-name="arrFilter_150_3228141227" data-id="arrFilter_150_3228141227" class="size-block-select-option" value="Y">15.50</option>
		
						
				<option data-name="arrFilter_150_2947276032" data-id="arrFilter_150_2947276032" class="size-block-select-option" value="Y">16.00</option>
		
						
				<option data-name="arrFilter_150_3537643845" data-id="arrFilter_150_3537643845" class="size-block-select-option" value="Y">16.50</option>
		
						
				<option data-name="arrFilter_150_387431013" data-id="arrFilter_150_387431013" class="size-block-select-option" value="Y">17.00</option>
		
						
				<option data-name="arrFilter_150_1784696352" data-id="arrFilter_150_1784696352" class="size-block-select-option" value="Y">17.50</option>
		
						
				<option data-name="arrFilter_150_1333045811" data-id="arrFilter_150_1333045811" class="size-block-select-option" value="Y">18.00</option>
		
						
				<option data-name="arrFilter_150_839081590" data-id="arrFilter_150_839081590" class="size-block-select-option" value="Y">18.50</option>
		
						
				<option data-name="arrFilter_150_4157132118" data-id="arrFilter_150_4157132118" class="size-block-select-option" value="Y">19.00</option>
		
						
				<option data-name="arrFilter_150_2327787795" data-id="arrFilter_150_2327787795" class="size-block-select-option" value="Y">19.50</option>
		
						
				<option data-name="arrFilter_150_3445684236" data-id="arrFilter_150_3445684236" class="size-block-select-option" value="Y">20.00</option>
		
						
				<option data-name="arrFilter_150_2954300489" data-id="arrFilter_150_2954300489" class="size-block-select-option" value="Y">20.50</option>
		
						
				<option data-name="arrFilter_150_1977393001" data-id="arrFilter_150_1977393001" class="size-block-select-option" value="Y">21.00</option>
		
						
				<option data-name="arrFilter_150_145451820" data-id="arrFilter_150_145451820" class="size-block-select-option" value="Y">21.50</option>
		
						
				<option data-name="arrFilter_150_1734946951" data-id="arrFilter_150_1734946951" class="size-block-select-option" value="Y">22.00</option>
		
						
				<option data-name="arrFilter_150_438224066" data-id="arrFilter_150_438224066" class="size-block-select-option" value="Y">22.50</option>
		
						
				<option data-name="arrFilter_150_3755300834" data-id="arrFilter_150_3755300834" class="size-block-select-option" value="Y">23.00</option>
		
						
				<option data-name="arrFilter_150_2728567719" data-id="arrFilter_150_2728567719" class="size-block-select-option" value="Y">23.50</option>
		
						
				<option data-name="arrFilter_150_1107455835" data-id="arrFilter_150_1107455835" class="size-block-select-option" value="Y">24.00</option>
		
						
				<option data-name="arrFilter_150_4206757950" data-id="arrFilter_150_4206757950" class="size-block-select-option" value="Y">25.00</option>
		
						
				<option data-name="arrFilter_150_4026585532" data-id="arrFilter_150_4026585532" class="size-block-select-option" value="Y">30.00</option>
		
						
				<option data-name="arrFilter_150_1220327129" data-id="arrFilter_150_1220327129" class="size-block-select-option" value="Y">31.00</option>
		
						
				<option data-name="arrFilter_150_3353223566" data-id="arrFilter_150_3353223566" class="size-block-select-option" value="Y">35.00</option>
		
						
				<option data-name="arrFilter_150_2134909980" data-id="arrFilter_150_2134909980" class="size-block-select-option" value="Y">50.00</option>
		
						
	</select></span><span class="selected">КОЛЬЦА, ПОДВЕСЫ, КОНГО:</span><span class="carat"></span><div><ul><li class="active">КОЛЬЦА, ПОДВЕСЫ, КОНГО:</li><li>10.00</li><li>13.00</li><li>13.50</li><li>14.00</li><li>14.50</li><li>15.00</li><li>15.50</li><li>16.00</li><li>16.50</li><li>17.00</li><li>17.50</li><li>18.00</li><li>18.50</li><li>19.00</li><li>19.50</li><li>20.00</li><li>20.50</li><li>21.00</li><li>21.50</li><li>22.00</li><li>22.50</li><li>23.00</li><li>23.50</li><li>24.00</li><li>25.00</li><li>30.00</li><li>31.00</li><li>35.00</li><li>50.00</li></ul></div></div>

			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
		

</div>


											
<div class="filter-product_size-properties__dropdown-wrapper size-filter-block">
	<div class="dropdown"><span class="old"><select class="" id="EasyDropDown4BB582">		
	<option value="0" selected="">ЦЕПИ, БРАСЛЕТЫ:</option>
			
				<option disabled="" data-name="arrFilter_152_4201566612" data-id="arrFilter_152_4201566612" class="size-block-select-option" value="Y">120.00</option>
		
						
				<option data-name="arrFilter_152_94508427" data-id="arrFilter_152_94508427" class="size-block-select-option" value="Y">14.00</option>
		
						
				<option disabled="" data-name="arrFilter_152_2027282894" data-id="arrFilter_152_2027282894" class="size-block-select-option" value="Y">14.50</option>
		
						
				<option data-name="arrFilter_152_3172889326" data-id="arrFilter_152_3172889326" class="size-block-select-option" value="Y">15.00</option>
		
						
				<option data-name="arrFilter_152_3228141227" data-id="arrFilter_152_3228141227" class="size-block-select-option" value="Y">15.50</option>
		
						
				<option data-name="arrFilter_152_2947276032" data-id="arrFilter_152_2947276032" class="size-block-select-option" value="Y">16.00</option>
		
						
				<option data-name="arrFilter_152_3537643845" data-id="arrFilter_152_3537643845" class="size-block-select-option" value="Y">16.50</option>
		
						
				<option data-name="arrFilter_152_387431013" data-id="arrFilter_152_387431013" class="size-block-select-option" value="Y">17.00</option>
		
						
				<option data-name="arrFilter_152_1784696352" data-id="arrFilter_152_1784696352" class="size-block-select-option" value="Y">17.50</option>
		
						
				<option data-name="arrFilter_152_1333045811" data-id="arrFilter_152_1333045811" class="size-block-select-option" value="Y">18.00</option>
		
						
				<option data-name="arrFilter_152_839081590" data-id="arrFilter_152_839081590" class="size-block-select-option" value="Y">18.50</option>
		
						
				<option data-name="arrFilter_152_4157132118" data-id="arrFilter_152_4157132118" class="size-block-select-option" value="Y">19.00</option>
		
						
				<option data-name="arrFilter_152_2327787795" data-id="arrFilter_152_2327787795" class="size-block-select-option" value="Y">19.50</option>
		
						
				<option data-name="arrFilter_152_3445684236" data-id="arrFilter_152_3445684236" class="size-block-select-option" value="Y">20.00</option>
		
						
				<option data-name="arrFilter_152_2954300489" data-id="arrFilter_152_2954300489" class="size-block-select-option" value="Y">20.50</option>
		
						
				<option data-name="arrFilter_152_1977393001" data-id="arrFilter_152_1977393001" class="size-block-select-option" value="Y">21.00</option>
		
						
				<option data-name="arrFilter_152_1734946951" data-id="arrFilter_152_1734946951" class="size-block-select-option" value="Y">22.00</option>
		
						
				<option data-name="arrFilter_152_3755300834" data-id="arrFilter_152_3755300834" class="size-block-select-option" value="Y">23.00</option>
		
						
				<option data-name="arrFilter_152_1107455835" data-id="arrFilter_152_1107455835" class="size-block-select-option" value="Y">24.00</option>
		
						
				<option data-name="arrFilter_152_4206757950" data-id="arrFilter_152_4206757950" class="size-block-select-option" value="Y">25.00</option>
		
						
				<option data-name="arrFilter_152_3893077968" data-id="arrFilter_152_3893077968" class="size-block-select-option" value="Y">26.00</option>
		
						
				<option data-name="arrFilter_152_1109396908" data-id="arrFilter_152_1109396908" class="size-block-select-option" value="Y">40.00</option>
		
						
				<option data-name="arrFilter_152_3895051559" data-id="arrFilter_152_3895051559" class="size-block-select-option" value="Y">42.00</option>
		
						
				<option data-name="arrFilter_152_1351983682" data-id="arrFilter_152_1351983682" class="size-block-select-option" value="Y">43.00</option>
		
						
				<option data-name="arrFilter_152_1979645342" data-id="arrFilter_152_1979645342" class="size-block-select-option" value="Y">45.00</option>
		
						
				<option data-name="arrFilter_152_1732989552" data-id="arrFilter_152_1732989552" class="size-block-select-option" value="Y">46.00</option>
		
						
				<option data-name="arrFilter_152_3757520149" data-id="arrFilter_152_3757520149" class="size-block-select-option" value="Y">47.00</option>
		
						
				<option data-name="arrFilter_152_2134909980" data-id="arrFilter_152_2134909980" class="size-block-select-option" value="Y">50.00</option>
		
						
				<option data-name="arrFilter_152_1218368558" data-id="arrFilter_152_1218368558" class="size-block-select-option" value="Y">55.00</option>
		
						
				<option data-name="arrFilter_152_954228428" data-id="arrFilter_152_954228428" class="size-block-select-option" value="Y">60.00</option>
		
						
				<option data-name="arrFilter_152_255766270" data-id="arrFilter_152_255766270" class="size-block-select-option" value="Y">65.00</option>
		
						
				<option data-name="arrFilter_152_92305276" data-id="arrFilter_152_92305276" class="size-block-select-option" value="Y">70.00</option>
		
						
				<option data-name="arrFilter_152_2278613165" data-id="arrFilter_152_2278613165" class="size-block-select-option" value="Y">80.00</option>
		
						
	</select></span><span class="selected">ЦЕПИ, БРАСЛЕТЫ:</span><span class="carat"></span><div><ul><li class="active">ЦЕПИ, БРАСЛЕТЫ:</li><li>120.00</li><li>14.00</li><li>14.50</li><li>15.00</li><li>15.50</li><li>16.00</li><li>16.50</li><li>17.00</li><li>17.50</li><li>18.00</li><li>18.50</li><li>19.00</li><li>19.50</li><li>20.00</li><li>20.50</li><li>21.00</li><li>22.00</li><li>23.00</li><li>24.00</li><li>25.00</li><li>26.00</li><li>40.00</li><li>42.00</li><li>43.00</li><li>45.00</li><li>46.00</li><li>47.00</li><li>50.00</li><li>55.00</li><li>60.00</li><li class="disabled">65.00</li><li>70.00</li><li class="disabled">80.00</li></ul></div></div>

			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
			
				 
		

</div>

										</div>
										
									</fieldset>
									</div>
								</div>
													</div>
	</div>
	
	
	<div class="filter-section  filter-section-3">
		<div class="filter-section__inner">
			<div class="filter-section__block filter-submit">
				<input id="del_filter" name="del_filter" value="Сбросить параметры >" class="filter-button filter-button--no-color" type="submit">
				<a id="set_filter" name="set_filter" class="filter-button">Подобрать &gt;</a>				
			</div>
		</div>
	</div>
	</div>
	</div> <!--search-form-main -->
	
	

	<div class="filter-section" id="filter-selected-params-wrap" style="display:none;">
		<div class="filter-section__inner">
			<div class="filter-section__block filter-section__selection">
				<fieldset class="filter-group">
					<legend class="filter-group__header filter-group__header--selection">выбранные  параметры поиска:</legend>
					<div class="filter-group__options" id="filter-selected-params" style="overflow: hidden; padding: 0px; width: 0px;">
						
											<div class="jspContainer" style="width: 0px; height: 0px;"><div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 0px;"></div></div></div>

					<a href="#" title="" id="change-filter-link" class="filter-help-link"><span>изменить параметры поиска</span></a>
				</fieldset>
			</div>
		</div>
	</div>
	
				</form>

	<div class="gold-filter-popup-result" id="modef">
		<span class="modef_num"></span>		
		<a href="/catalog/yuvelirnye_izdeliya/?SORT=SORT&amp;PAGE_SIZE=34&amp;set_filter=y&amp;arrFilter_273_3918974738=Y" target="">Показать</a>
	</div>
</section>
		</main>


		<footer class="page__footer">
			@@include('scaff/layout__footer.html')
		</footer>
	</div>

	@@include('scaff/layout__js-list.html')
</body>
</html>