<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Title your page</title>


	<!-- здесь подключай свои стили -->
	<!-- НАПРИМЕР: <link rel="stylesheet" href="css/catalog.min.css"> -->
</head>
<body>
	<div class="page">
		<header class="page__header">
			@@include('scaff/layout__header.html')
		</header>

		<div class="section wdr2-section">
			<div class="section__inner wdr2-section__inner">
				
				<script type="text/javascript">
				//<![CDATA[
				function wdr2_add_iframe_1_loaded(iFrame){
					var wdr2_iframe_data = iFrame.contentDocument || iFrame.contentWindow.document;
					var HTML = wdr2_iframe_data.body.innerHTML;
					if (HTML.indexOf('WD_REVIEWS2_REVIEW_SAVED_SUCCESS')>-1) {
						if (typeof wdr2_success_1 === "function") { wdr2_success_1(HTML, iFrame);}
					} else {
						if (typeof wdr2_error_1 === "function") {wdr2_error_1(HTML, iFrame);}
					}
				}
						//]]>
					</script>
					<div class="wdr2_iframe_hidden" style="display:none"><iframe src="about:blank" name="wdr2_add_iframe_1" id="wdr2_add_iframe_1" class="wdr2_iframe"></iframe></div>
					<script type="text/javascript">$('#wdr2_add_iframe_1').load(function(){wdr2_add_iframe_1_loaded(this);});</script>

					<a href="#wdr2_add_wrapper_1" class="wdr2-add-btn">Отправить свой отзыв</a>

					<div id="wdr2_add_wrapper_1" class="wdr2-add-wrapper" style="display: none;" data-wrap="">
						<div class="wdr2-add / wdr2-add--1">
							<div class="wdr2-add__header">
								<span data-title="">Оставить отзыв об изделии</span>

								<button class="wdr2-add__close-btn" data-close="">X</button>
							</div>

							<div class="wdr2-add__content">

								<form name="wdr2_add_form_1" class="wdr2-form-reviews" id="wdr2_add_form_1" target="wdr2_add_iframe_1" action="/bitrix/tools/wd_reviews2.php?action=save&amp;interface=1&amp;target=E_164585&amp;anticache=145711061" enctype="multipart/form-data" method="post">

									<div class="wdr2-add__content-img" data-img="" style="background-image: url(&quot;/upload/iblock/c1f/IMG_9306s.jpg&quot;);"></div>

									<div class="wdr2-add__ratings">
										<div class="wdr2-add__ratings-item">
											<div class="wdr2-add__ratings-label">Цена</div>
											<div class="wdr2-add__ratings-value"><div id="wd_reviews2_rating_043b489c15e31c8f61f5e7ac8e69631e" class="wd_reviews2_rating" style="white-space: nowrap; cursor: pointer;"><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><input name="review[RATINGS][1]" type="hidden" value="1"></div><script>//<![CDATA[
											$('#wd_reviews2_rating_043b489c15e31c8f61f5e7ac8e69631e').raty({number:5,score: 1,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,scoreName:'review[RATINGS][1]',hints:['','','','',''],path:'/upload/webdebug.reviews/1/star'});
											//]]></script></div>
										</div>
										<div class="wdr2-add__ratings-item">
											<div class="wdr2-add__ratings-label">Дизайн</div>
											<div class="wdr2-add__ratings-value"><div id="wd_reviews2_rating_41b29e3cb852d43a4deffe3c0c0c10a4" class="wd_reviews2_rating" style="white-space: nowrap; cursor: pointer;"><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><input name="review[RATINGS][2]" type="hidden" value="1"></div><script>//<![CDATA[
											$('#wd_reviews2_rating_41b29e3cb852d43a4deffe3c0c0c10a4').raty({number:5,score: 1,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,scoreName:'review[RATINGS][2]',hints:['','','','',''],path:'/upload/webdebug.reviews/1/star'});
											//]]></script></div>
										</div>
										<div class="wdr2-add__ratings-item">
											<div class="wdr2-add__ratings-label">Качество</div>
											<div class="wdr2-add__ratings-value"><div id="wd_reviews2_rating_b9d4442ef5c23f3474993201ae59676c" class="wd_reviews2_rating" style="white-space: nowrap; cursor: pointer;"><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><input name="review[RATINGS][3]" type="hidden" value="1"></div><script>//<![CDATA[
											$('#wd_reviews2_rating_b9d4442ef5c23f3474993201ae59676c').raty({number:5,score: 1,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,scoreName:'review[RATINGS][3]',hints:['','','','',''],path:'/upload/webdebug.reviews/1/star'});
											//]]></script></div>
										</div>
									</div>

									<a href="/upload/rules.pdf" class="wdr2-add__rules-link" target="_blank">Смотреть правила отправки отзывов &gt;</a>

									<div class="wrd2-add__fields">

										<div class="wrd2-add__fields-item / wrd2-add__fields-item--name" data-item="">
											
											<input type="text" name="review[FIELDS][NAME]" value="" id="wdr2_ujnvsq" placeholder="Ваше имя">
										</div>

										<div class="wrd2-add__fields-item / wrd2-add__fields-item--email" data-item="">
											<div class="wrd2-add__fields-required" data-required="">Поле не заполнено</div>
											
											<input type="text" name="review[FIELDS][EMAIL]" value="" id="wdr2_notlz6" placeholder="Введите email" data-tip="Адрес не будет виден другим посетителям."><div class="wrd2-add__fields-tip">Адрес не будет виден другим посетителям.</div>
										</div>

										<div class="wrd2-add__fields-item / wrd2-add__fields-item--reviews" data-item="">
											<div class="wrd2-add__fields-required" data-required="">Поле не заполнено</div>
											
											<textarea name="review[FIELDS][REVIEWS]" style="overflow:auto; resize:vertical; " id="wdr2_2t0fs6" placeholder="Введите ваше сообщение"></textarea>
										</div>
									</div>

									<div class="wrd2-add__errors" data-errors=""></div>

									<div class="wrd2-add__submit">
										<input type="submit" value="Отправить свой отзыв">
									</div>

									<input type="hidden" name="wdr2_interface" value="1">
									<input type="hidden" name="wdr2_target" value="E_164585">
									<input type="hidden" name="wdr2_form" value="1">
									<input type="hidden" name="wdr2_field" value="review">
									<input type="hidden" name="wdr2_site" value="s1">
									<input type="hidden" class="wdr2_url_input" name="wdr2_url" value="/catalog/yuvelirnye_izdeliya/kolca/164585/">
									<input type="hidden" name="wd_reviews2_review_sessid" id="wd_reviews2_review_sessid" value="c3b82640c5afaa923659ae0bf7e03115">
								</form>
								<div class="wrd2-add__result" data-result=""></div>

							</div>
						</div>
					</div>


					<script type="text/javascript">
			//<![CDATA[
			function wdr2_success_1(HTML, iFrame) {
				var $wrap = $('.wdr2-add--1').closest('[data-wrap]');
				var $result = $wrap.find('[data-result]');
				var timer;

				$result
				.show().html('Спасибо за Ваш отзыв!<br/>Ваше мнение очень важно для нас и других покупателей!<br/>После проверки модератором ваш отзыв будет опубликован на сайте')
				.append('<div data-timer>Окно закроется автоматически через <span>7</span> сек.</div>');
				
				$wrap.addClass('wdr2-add--success');
				$wrap.find('[data-title]').html('Спасибо за ваш отзыв!');
				$wrap.find('form').remove();

				timer = setInterval(function() {
					var sec = parseInt($result.find('[data-timer] span').text());

					$result.find('[data-timer] span').text(--sec);

					if (sec <= 0) {
						$result.find('[data-timer]').remove();
						$wrap.hide();
						clearInterval(timer);
					}
				}, 1000);
			}
			function wdr2_error_1(HTML, iFrame) {
				var $form = $('#wdr2_add_form_1');
				
				if (HTML) {
					$form.find('[data-errors]').html(HTML);
				}

				$form.find('input[type=submit]').prop('disabled', false);
			}
			//]]>
		</script>


		<!--'start_frame_cache_OzqDl4'-->

		<div class="wdr2-list" id="wdr2_list_1e8OnZ" data-wrap="">

			<h2 class="wdr2-list__title">Отзывы ( 2 )</h2>


			<div class="wdr2-list__items">

				<div class="wdr2-list__item" id="wdr2_item_967" data-item="" data-moderated="0">
					<div class="wdr2-list__item-uname">Ася</div>
					<div class="wdr2-list__item-text">
						Очень красивое колечко! Увидела и влюбилась! НО спустя совсем немного времени белый центр кольца стал желтым. А именно из=за этого цента и покупала=((( Чистила специальными средствами, не отмывается. КРАЙНЕ РАЗОЧАРОВАНА!!!!! Все таки обручальное кольцо покупается не на 1 год((((( 
						Ну и плюс внутри кольцо полое, в связи с тем не очень удобно в носке.
					</div>

					<div class="wdr2-list__ratings">
						<div class="wdr2-list__ratings-item">		
							<div class="wdr2-list__ratings-label">		
								Цена									</div>
								<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_318d0eb19430233ea7b6b3ed3daeab06" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/active.png" title=""><input name="score" type="hidden" value="5" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_318d0eb19430233ea7b6b3ed3daeab06').raty({number:5,score: 5,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
											<div class="wdr2-list__ratings-item">		
												<div class="wdr2-list__ratings-label">		
													Дизайн									</div>
													<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_58d4b37c266fdd9b768c3ade30c21c14" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/active.png" title=""><input name="score" type="hidden" value="5" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_58d4b37c266fdd9b768c3ade30c21c14').raty({number:5,score: 5,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
											<div class="wdr2-list__ratings-item">		
												<div class="wdr2-list__ratings-label">		
													Качество									</div>
													<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_7c355215665c2cca524875d94ae68452" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/inactive.png" title=""><input name="score" type="hidden" value="1" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_7c355215665c2cca524875d94ae68452').raty({number:5,score: 1,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
										</div>
									</div>
									
									<div class="wdr2-list__item" id="wdr2_item_252" data-item="" data-moderated="0">
										<div class="wdr2-list__item-uname">Лера</div>
										<div class="wdr2-list__item-text">
											Мой мне предложение еще не сделал, но колечко я уже выбрала:):):):)&nbsp;
										</div>

										<div class="wdr2-list__ratings">
											<div class="wdr2-list__ratings-item">		
												<div class="wdr2-list__ratings-label">		
													Цена									</div>
													<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_e88a188da1a487103a8f5b81ab611fa3" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/active.png" title=""><input name="score" type="hidden" value="5" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_e88a188da1a487103a8f5b81ab611fa3').raty({number:5,score: 5,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
											<div class="wdr2-list__ratings-item">		
												<div class="wdr2-list__ratings-label">		
													Дизайн									</div>
													<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_2c810bd0529973ae7ddbd8c66177aea6" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/active.png" title=""><input name="score" type="hidden" value="5" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_2c810bd0529973ae7ddbd8c66177aea6').raty({number:5,score: 5,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
											<div class="wdr2-list__ratings-item">		
												<div class="wdr2-list__ratings-label">		
													Качество									</div>
													<div class="wdr2-list__ratings-value">	
												<div id="wd_reviews2_rating_415f052cf46fe1b46df28c5fdab4b50b" class="wd_reviews2_rating" style="white-space:nowrap" title=""><img alt="1" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="2" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="3" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="4" src="/upload/webdebug.reviews/1/star/active.png" title=""><img alt="5" src="/upload/webdebug.reviews/1/star/active.png" title=""><input name="score" type="hidden" value="5" readonly=""></div><script>//<![CDATA[
												$('#wd_reviews2_rating_415f052cf46fe1b46df28c5fdab4b50b').raty({number:5,score: 5,starOff:'inactive.png',starOn:'active.png',precision:false,space:false,hints:['','','','',''],path:'/upload/webdebug.reviews/1/star',readOnly:true});
												//]]></script>									</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<script>
		//<![CDATA[
		function wdr2_send_vote_1e8OnZ(InterfaceID, Target, ReviewID, Amount) {
			var wdr2_errors = {
				'AUTH_ERROR': 'Необходимо войти на сайт под своим именем, прежде чем голосовать за отзывы.',
				'YOU_CANNOT_VOTE': 'Вы уже голосовали по этому отзыву.',
				'VOTE_ERROR': 'Ошибка. Попробуйте еще раз.'
			};
			$.ajax({
				url: '/bitrix/tools/wd_reviews2.php',
				type: 'GET',
				datatype: 'json',
				data: 'action=vote&interface='+InterfaceID+'&target='+Target+'&review='+ReviewID+'&amount='+Amount,
				success: function(JSON) {
					if (JSON.success) {
						$('#wdr2_item_'+JSON.review+' .wdr2_vote_count_'+JSON.flag).text(JSON.value);
					} else {
						alert(wdr2_errors[JSON.error_message]);
					}
				}
			});
			return false;
		}
		//]]>
	</script>

	<!--'end_frame_cache_OzqDl4'-->	</div>
</div>



		<footer class="page__footer">
			@@include('scaff/layout__footer.html')
		</footer>
	</div>

	@@include('scaff/layout__js-list.html')
</body>
</html>