<!DOCTYPE html>
<html lang="ru">
<head>
	@@include('scaff/layout__meta-tags.html')
	@@include('scaff/layout__css-list.html')


	<title>Title your page</title>


	<!-- здесь подключай свои стили -->
	<!-- НАПРИМЕР: <link rel="stylesheet" href="css/catalog.min.css"> -->
</head>
<body>
	<div class="page">
				
		<main class="page__content">
			<div class="section content catalog-list-section catalog-list-section--promo" data-len="14" style="background-image: url(/bitrix/templates/zoloto/frontend/images/promo-page/back.jpg)">
				<div class="section__inner">
					<article class="catalog main_cat" itemscope="" itemtype="http://schema.org/Product">

						<div class="workarea grid2x1">
							<div class="bx_sidebar filter_catalog"></div>
							<div class="catalog_list">
		
								<!-- конец панель сортировки, постраничной пагинации и выбора количества-->
								<!-- карточки каталога-->
								<div class="catalog-list  h-clearfix">
								
			
			
									<!-- карточка-->
									<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401954" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
										<div class="catalog-item__inner">
											<!-- "звездочка избранного"-->
											<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401954" id="favorites_item_14401954" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
											<!-- end-of-"звездочка избранного"-->

											<!-- "кнопка похожие"-->
											<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
											<!-- end-of-"кнопка похожие"-->

											<!-- "изображение"-->
											<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401954/" data-id="14401954">
												<img src="https://zoloto585-a.akamaihd.net/resize_cache/214474/703cc0a6e9826c7b4b4b42ae3accc670/iblock/274/27415fc1c9b3eb9491ac8e751ca2de12/nov_2.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
											</a>
											<!--end-of-"изображение"-->

											<!--"название и цена"-->
											
											<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old">
														<span>4&nbsp;930</span> <small>РУБ.</small>
													</span>
													<span class="catalog-item__price">
														<span>3&nbsp;060</span> <small>РУБ.</small>
													</span>
											</div>
											
											<!--end-of-"название и цена"-->

											<!--"ховер"-->

											<div class="catalog-hoverBlock">
												<a href="/catalog/yuvelirnye_izdeliya/podveski/14401954/" class="catalog-hoverBlock__gallery">
													<ul class="catalog-hoverBlock__galleryList">
														<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214474/703cc0a6e9826c7b4b4b42ae3accc670/iblock/274/27415fc1c9b3eb9491ac8e751ca2de12/nov_2.jpg" alt=""></li>
													</ul>
													<div class="catalog-hoverBlock__galleryHoverList"></div>
													<div class="catalog-hoverBlock__galleryScroll">
														<div></div>
													</div>
												</a>
												<div class="catalog-hoverBlock__info">
													<a href="/catalog/yuvelirnye_izdeliya/podveski/14401954/" class="catalog-hoverBlock__title" data-id="14401954">

														Кулон Снежинка с фианитами из красного золота 585 пробы							
													</a>

													<div class="catalog-hoverBlock__priceBlock">
														<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old">
															<span>4&nbsp;930</span> <small>РУБ.</small>
														</span>
														<span class="catalog-hoverBlock__price">
															<b>3&nbsp;060</b> <small>РУБ.</small>
														</span>
													</div>


													<div class="catalog-item-reserve" data-id="14401954">
														<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401954/" data-id="14401954">Подробнее &gt;</a>
													</div>
												</div>
											</div>
											<!--end-of-"ховер"-->

										<!-- "баннер"-->
										<!--end-of-"баннер"-->
										</div>
									</div>

									<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401961" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401961" id="favorites_item_14401961" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401961/" data-id="14401961">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214476/703cc0a6e9826c7b4b4b42ae3accc670/iblock/890/890db120870dc20c0e9cae0b2de0e9a5/nov_6.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>4&nbsp;160</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>2&nbsp;580</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401961/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214476/703cc0a6e9826c7b4b4b42ae3accc670/iblock/890/890db120870dc20c0e9cae0b2de0e9a5/nov_6.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401961/" class="catalog-hoverBlock__title" data-id="14401961">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>4&nbsp;160</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>2&nbsp;580</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401961">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401961/" data-id="14401961">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401971" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401971" id="favorites_item_14401971" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401971/" data-id="14401971">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214478/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ad7/ad7bffb3a94168482affab69e9f016b2/nov_5.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>4&nbsp;860</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>3&nbsp;020</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401971/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214478/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ad7/ad7bffb3a94168482affab69e9f016b2/nov_5.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401971/" class="catalog-hoverBlock__title" data-id="14401971">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>4&nbsp;860</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>3&nbsp;020</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401971">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401971/" data-id="14401971">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401975" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401975" id="favorites_item_14401975" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401975/" data-id="14401975">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214480/703cc0a6e9826c7b4b4b42ae3accc670/iblock/02e/02e9f682d3e2d81f20214b89d7fa9e2c/nov_4.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>5&nbsp;250</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>3&nbsp;200</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401975/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214480/703cc0a6e9826c7b4b4b42ae3accc670/iblock/02e/02e9f682d3e2d81f20214b89d7fa9e2c/nov_4.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401975/" class="catalog-hoverBlock__title" data-id="14401975">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>5&nbsp;250</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>3&nbsp;200</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401975">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401975/" data-id="14401975">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401981" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401981" id="favorites_item_14401981" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401981/" data-id="14401981">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214482/703cc0a6e9826c7b4b4b42ae3accc670/iblock/25f/25fb9da17013caa5a0b0d155daaf4dd7/nov_7.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>3&nbsp;580</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>2&nbsp;230</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401981/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214482/703cc0a6e9826c7b4b4b42ae3accc670/iblock/25f/25fb9da17013caa5a0b0d155daaf4dd7/nov_7.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401981/" class="catalog-hoverBlock__title" data-id="14401981">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>3&nbsp;580</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>2&nbsp;230</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401981">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401981/" data-id="14401981">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401986" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401986" id="favorites_item_14401986" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401986/" data-id="14401986">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214484/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ff7/ff710f2fa1f117c107eaf39e8a047d5e/nov_1.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>4&nbsp;930</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>3&nbsp;060</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401986/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214484/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ff7/ff710f2fa1f117c107eaf39e8a047d5e/nov_1.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401986/" class="catalog-hoverBlock__title" data-id="14401986">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>4&nbsp;930</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>3&nbsp;060</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401986">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401986/" data-id="14401986">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
							<!-- баннер первый -->
				<div class="catalog-item  catalog-item--banner catalog-item--bannerFirst">
					<div class="catalog-item__promoBanner">
						<img src="/bitrix/templates/zoloto/frontend/images/promo-page/section-banner2.jpg" alt="">
					</div>
				</div>
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14401989" data-name="Кулон Снежинка с фианитами из красного золота 585 пробы" data-section-id="299" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Подвески">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14401989" id="favorites_item_14401989" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/podveski/14401989/" data-id="14401989">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214486/703cc0a6e9826c7b4b4b42ae3accc670/iblock/9f7/9f77ce53d709c671ee336d3a6f41aac4/nov_3.jpg" alt="Кулон Снежинка с фианитами из красного золота 585 пробы" title="Кулон Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>5&nbsp;820</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>3&nbsp;550</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/podveski/14401989/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214486/703cc0a6e9826c7b4b4b42ae3accc670/iblock/9f7/9f77ce53d709c671ee336d3a6f41aac4/nov_3.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/podveski/14401989/" class="catalog-hoverBlock__title" data-id="14401989">

								Кулон Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>5&nbsp;820</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>3&nbsp;550</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14401989">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/podveski/14401989/" data-id="14401989">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402012" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402012" id="favorites_item_14402012" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402012/" data-id="14402012">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214475/703cc0a6e9826c7b4b4b42ae3accc670/iblock/12c/12c7cd0df750eefd4f2caab09f50fb74/sn1.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>8&nbsp;190</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>5&nbsp;090</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402012/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214475/703cc0a6e9826c7b4b4b42ae3accc670/iblock/12c/12c7cd0df750eefd4f2caab09f50fb74/sn1.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402012/" class="catalog-hoverBlock__title" data-id="14402012">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>8&nbsp;190</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>5&nbsp;090</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402012">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402012/" data-id="14402012">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
							<!-- распорки -->
				<div class="catalog-item  catalog-item--empty"></div>
				<div class="catalog-item  catalog-item--empty"></div>

				<!-- баннер второй с каруселью -->
				<div class="catalog-item  catalog-item--banner">
					<div href="#" class="catalog-item__promoBanner">
						<img src="/bitrix/templates/zoloto/frontend/images/promo-page/section-banner1.jpg" alt="">
					</div>
					<div class="js-catalogBanner-carousel owl-carousel owl-theme" style="opacity: 0; display: block;">
						<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 400px; left: 0px; display: block;"><div class="owl-item active" style="width: 100px;"><img src="/bitrix/templates/zoloto/frontend/images/promo-page/section-banner2.jpg" alt=""></div><div class="owl-item" style="width: 100px;"><img src="/bitrix/templates/zoloto/frontend/images/promo-page/section-banner1.jpg" alt=""></div></div></div>
						
					<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
				</div>

				<!-- цитата -->
				<div class="catalog-item  catalog-item--comment">
					<div class="catalog-item__qoute">
						Мне хотелось передать настроение главного праздника в году с помощью украшений. То искрящееся чувство радости и ожидание чуда, которые все испытывают в это волшебное время. Недаром снежинка считается первым символом зимы. Надеюсь, девушкам придутся по вкусу наши сережки и подвески, и они не захотят расставаться с праздничным настроением даже летом!
					</div>
					<div class="catalog-item__author">
						Мариям Саргсян
						<span>дизайнер коллекции</span>
					</div>
				</div>

				<!-- распорки -->
				<div class="catalog-item  catalog-item--empty"></div>
				<div class="catalog-item  catalog-item--empty"></div>
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402035" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402035" id="favorites_item_14402035" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402035/" data-id="14402035">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214477/703cc0a6e9826c7b4b4b42ae3accc670/iblock/37c/37c64f8ae83018008ef317fbb5951b03/sn5.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>8&nbsp;580</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>5&nbsp;330</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402035/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214477/703cc0a6e9826c7b4b4b42ae3accc670/iblock/37c/37c64f8ae83018008ef317fbb5951b03/sn5.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402035/" class="catalog-hoverBlock__title" data-id="14402035">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>8&nbsp;580</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>5&nbsp;330</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402035">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402035/" data-id="14402035">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402052" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402052" id="favorites_item_14402052" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402052/" data-id="14402052">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214479/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ab0/ab0b456a3976d0baa8d0f6645e1f0889/sn2.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>8&nbsp;640</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>5&nbsp;370</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402052/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214479/703cc0a6e9826c7b4b4b42ae3accc670/iblock/ab0/ab0b456a3976d0baa8d0f6645e1f0889/sn2.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402052/" class="catalog-hoverBlock__title" data-id="14402052">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>8&nbsp;640</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>5&nbsp;370</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402052">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402052/" data-id="14402052">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402061" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402061" id="favorites_item_14402061" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402061/" data-id="14402061">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214481/703cc0a6e9826c7b4b4b42ae3accc670/iblock/3ab/3ab608154425411ef0527a6ab1731abb/sn3.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>7&nbsp;810</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>4&nbsp;850</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402061/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214481/703cc0a6e9826c7b4b4b42ae3accc670/iblock/3ab/3ab608154425411ef0527a6ab1731abb/sn3.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402061/" class="catalog-hoverBlock__title" data-id="14402061">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>7&nbsp;810</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>4&nbsp;850</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402061">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402061/" data-id="14402061">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402079" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402079" id="favorites_item_14402079" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402079/" data-id="14402079">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214483/703cc0a6e9826c7b4b4b42ae3accc670/iblock/749/749e927597e366043e86931a6a2cad00/sn4.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>7&nbsp;770</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>4&nbsp;830</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402079/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214483/703cc0a6e9826c7b4b4b42ae3accc670/iblock/749/749e927597e366043e86931a6a2cad00/sn4.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402079/" class="catalog-hoverBlock__title" data-id="14402079">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>7&nbsp;770</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>4&nbsp;830</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402079">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402079/" data-id="14402079">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402082" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402082" id="favorites_item_14402082" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402082/" data-id="14402082">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214485/703cc0a6e9826c7b4b4b42ae3accc670/iblock/8d0/8d0274dc2953dc4b594a8692c74433d6/sn6.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>8&nbsp;880</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>5&nbsp;520</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402082/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214485/703cc0a6e9826c7b4b4b42ae3accc670/iblock/8d0/8d0274dc2953dc4b594a8692c74433d6/sn6.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402082/" class="catalog-hoverBlock__title" data-id="14402082">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>8&nbsp;880</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>5&nbsp;520</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402082">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402082/" data-id="14402082">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
			
			
			
			<!-- карточка-->
			<div class="catalog-item  catalog-item-ecommerce" data-item="" data-id="14402090" data-name="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" data-section-id="286" data-gtm-type="Каталог" data-product-list="Ювелирные изделия" data-cat-path="Ювелирные изделия / Серьги">
				<div class="catalog-item__inner">
					<!-- "звездочка избранного"-->
					<span class="catalog-item__button  catalog-item__button_fav  catalog-item__fav" data-active-css-modifier="catalog-item__fav--active" data-id="14402090" id="favorites_item_14402090" data-favorite-text="Убрать из избранного">Добавить в избранное</span>
					<!-- end-of-"звездочка избранного"-->

					<!-- "кнопка похожие"-->
					<span class="catalog-item__button  catalog-item__button_recommended" data-id="14124832" data-btn="recommended" title="Показать похожие"></span>
					<!-- end-of-"кнопка похожие"-->

					<!-- "изображение"-->
					<a class="catalog-item__img" href="/catalog/yuvelirnye_izdeliya/sergi/14402090/" data-id="14402090">
						<img src="https://zoloto585-a.akamaihd.net/resize_cache/214487/703cc0a6e9826c7b4b4b42ae3accc670/iblock/dc7/dc7b6904f2b3c7cdc82c8d55c7d1363c/sn7.jpg" alt="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы" title="Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы">
					</a>
					<!--end-of-"изображение"-->

					<!--"название и цена"-->
					<div class="catalog-item__info">
						
													<span class="catalog-item__price catalog-item__price--old"><span>9&nbsp;340</span> <small>РУБ.</small></span>
																			<span class="catalog-item__price"><span>5&nbsp;810</span> <small>РУБ.</small></span>
																	</div>
					<!--end-of-"название и цена"-->

					<!--"ховер"-->

					<div class="catalog-hoverBlock">
						<a href="/catalog/yuvelirnye_izdeliya/sergi/14402090/" class="catalog-hoverBlock__gallery">
							<ul class="catalog-hoverBlock__galleryList">
																	<li class="is-active"><img src="https://zoloto585-a.akamaihd.net/resize_cache/214487/703cc0a6e9826c7b4b4b42ae3accc670/iblock/dc7/dc7b6904f2b3c7cdc82c8d55c7d1363c/sn7.jpg" alt=""></li>
															</ul>
							<div class="catalog-hoverBlock__galleryHoverList"></div>
							<div class="catalog-hoverBlock__galleryScroll">
								<div></div>
							</div>
						</a>
						<div class="catalog-hoverBlock__info">
							<a href="/catalog/yuvelirnye_izdeliya/sergi/14402090/" class="catalog-hoverBlock__title" data-id="14402090">

								Серьги-пуссеты Снежинка с фианитами из красного золота 585 пробы							</a>

							<div class="catalog-hoverBlock__priceBlock">
																	<span class="catalog-hoverBlock__price catalog-hoverBlock__price--old"><span>9&nbsp;340</span> <small>РУБ.</small></span>
								
																	<span class="catalog-hoverBlock__price"><b>5&nbsp;810</b> <small>РУБ.</small></span>
															</div>


							<div class="catalog-item-reserve" data-id="14402090">
								<a class="catalog-item__button catalog-item__button_reserve" href="/catalog/yuvelirnye_izdeliya/sergi/14402090/" data-id="14402090">Подробнее &gt;</a>
							</div>

													</div>
					</div>
					<!--end-of-"ховер"-->

					<!-- "баннер"-->
										<!--end-of-"баннер"-->
				</div>
			</div>

			<!-- конец карточка-->
							</div>
		<div style="display: inline-block; width: 100%;"></div>
		<div style="clear: both;"></div>
				<section class="content_pagination noshadow b-pagination-bottom">
					</section>
		
		
			</div>
	<div style="clear: both;"></div>
</div>


</article>
</div>


</div>


		</main>


		<footer class="page__footer">
			@@include('scaff/layout__footer.html')
		</footer>
	</div>

	@@include('scaff/layout__js-list.html')
</body>
</html>