<nav class="alt-main-nav" data-main-nav='
[
{
    "tab-number":1,
    "tab-name":"ОБРУЧАЛЬНЫЕ КОЛЬЦА",
    "tab-name-translit":"obruchalnye-kolca",
    "tab-page-href":"/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/",
    "inner-background-image":"none",
    "inner-background-color":"inherit",
    "outer-background-image":"none",
    "outer-background-color":"inherit",
    "nav-banners":{
        "tab-number":1,
        "nav-banners-type":"right_510-330",
        "nav-banners-item":[{
            "type":0,
            "href":"/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/",
            "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/obruchalnye-kolca.jpg",
            "button":false
        }]
    }
},
{
    "tab-number":2,
    "tab-name":"КОЛЬЦА",
    "tab-name-translit":"kolca",
    "tab-page-href":"/catalog/yuvelirnye_izdeliya/kolca/",
    "inner-background-image":"none",
    "inner-background-color":"inherit",
    "outer-background-image":"none",
    "outer-background-color":"inherit",
    "nav-banners":
    {
        "tab-number":2,
        "nav-banners-type":"right_510-330",
        "nav-banners-item":[{
            "type":0,
            "href":"/catalog/yuvelirnye_izdeliya/kolca/iz-zolota/",
            "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/obruchalnye-kolca.jpg",
            "button":false
        }]
    }
},
{
  "tab-number":3,
  "tab-name":"СЕРЬГИ",
  "tab-name-translit":"sergi",
  "tab-page-href":"/catalog/yuvelirnye_izdeliya/sergi/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":3,
    "nav-banners-type":"right_510-330",
    "nav-banners-item":[{
      "type":0,
      "href":"/catalog/yuvelirnye_izdeliya/sergi/",
      "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/sergi_1121.jpg",
      "button":false
    }]
  }
},
{
  "tab-number":4,
  "tab-name":"КУЛОНЫ",
  "tab-name-translit":"kulony",
  "tab-page-href":"/catalog/yuvelirnye_izdeliya/podveski/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":4,
    "nav-banners-type":"right_510-330",
    "nav-banners-item":[{
      "type":0,
      "href":"/catalog/yuvelirnye_izdeliya/podveski/",
      "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/kulony.jpg",
      "button":false
    }]
  }
},
{
  "tab-number":5,
  "tab-name":"КОЛЬЕ и ЦЕПИ",
  "tab-name-translit":"kole-i-cepi",
  "tab-page-href":"/catalog/yuvelirnye_izdeliya/cepi_i_kole/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":5,
    "nav-banners-type":"left-right",
    "nav-banners-item":[{
      "type":"left_300-330",
      "href":"/catalog/yuvelirnye_izdeliya/cepi_i_kole/",
      "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/kole-i-cepi.jpg",
      "button":false
    },
    {
      "type":"right_300-330",
      "href":"/catalog/yuvelirnye_izdeliya/cepi_i_kole/",
      "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/kole-i-cepi.jpg",
      "button":false
    }]
  }
},
{
  "tab-number":6,
  "tab-name":"ЧАСЫ",
  "tab-name-translit":"chasy",
  "tab-page-href":"/catalog/chasy/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":4,
    "nav-banners-type":"left_510-330",
    "nav-banners-item":[{
      "type":0,
      "href":"/catalog/yuvelirnye_izdeliya/podveski/",
      "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/kulony.jpg",
      "button":false
    }]
  }
},
{
  "tab-number":7,
  "tab-name":"СЕРЕБРО",
  "tab-name-translit":"serebro",
  "tab-page-href":"/catalog/yuvelirnye_izdeliya/serebro-925-proby/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":7,
    "nav-banners-type":"left_600-340",
    "nav-banners-item":[
      {
        "type":"cells_290-160",
        "href":"/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/",
        "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/serebro__1.jpg",
        "button":false
      },{
        "type":"cells_290-160",
        "href":"/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/",
        "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/serebro__2.jpg",
        "button":false
      },{
        "type":"cells_290-160",
        "href":"/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/",
        "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/serebro__3.jpg",
        "button":false
      },{
        "type":"cells_290-160",
        "href":"/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/",
        "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/serebro__4.jpg",
        "button":false
      }]}},
{
  "tab-number":8,
  "tab-name":"Из ломбарда",
  "tab-name-translit":"izlombarda",
  "tab-page-href":"/catalogsecondhand/",
  "inner-background-image":"none",
  "inner-background-color":"inherit",
  "outer-background-image":"none",
  "outer-background-color":"inherit",
  "nav-banners":{
    "tab-number":8,
    "nav-banners-type":"left_510-330",
    "nav-banners-item":[
      {
        "type":0,
        "href":"/catalogsecondhand/",
        "img":"/bitrix/templates/zoloto/frontend/images/promo-banners/secondhand_2.jpg",
        "button":false
      }
    ]
  }
}]
'>
	<ul class="alt-main-nav__list">
		<li 
      class="alt-main-nav__item alt-main-nav__item--catalog"
      data-inner-list="0"
    >
      <a href="/catalog/yuvelirnye_izdeliya/" class="alt-main-nav__link">Каталог</a>
    </li>
		
    <li 
      class="alt-main-nav__item"
      data-inner-list="1" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/" class="alt-main-nav__link">
        Обручальные кольца
      </a>
    </li>
		
    <li 
      class="alt-main-nav__item"  
      data-inner-list="2" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/kolca/" class="alt-main-nav__link">
        Кольца
      </a>
    </li>
		
    <li 
      class="alt-main-nav__item" 
      data-inner-list="3" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/sergi/" class="alt-main-nav__link">
        Серьги
      </a>
    </li>
		
    <li 
      class="alt-main-nav__item" 
      data-inner-list="4" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/podveski/" class="alt-main-nav__link">
        Кулоны
      </a>
    </li>
		
    <li 
      class="alt-main-nav__item"  
      data-inner-list="5" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1685985038=Y&arrFilter_155_2366072709=Y" class="alt-main-nav__link">
        Колье и цепи
      </a>
    </li>
		
    <li 
      class="alt-main-nav__item"
      data-inner-list="6" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/chasy/" class="alt-main-nav__link">
        Часы
      </a>
    </li>
		
    <li  
      class="alt-main-nav__item" 
      data-inner-list="7" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/yuvelirnye_izdeliya/serebro-925-proby/" class="alt-main-nav__link">
        Серебро
      </a>
    </li>

		<li 
      class="alt-main-nav__item" 
      data-inner-list="8" 
      data-inner-background-image="none" data-inner-background-color="inherit" 
      data-outer-background-image="none" data-outer-background-color="inherit"
    >
      <a href="/catalog/bizhuteriya/" class="alt-main-nav__link">
        Из ломбарда
      </a>
    </li>

	</ul>
</nav>