<div class="header-menu">
	<div class="section__inner header-menu__mobContainer">
		<ul class="header-menu__inner">
			<li class="main-nav-item main-nav-item__catalog">
				<a href="">Каталог</a>
			</li>
			<li class="main-nav-item" id="nav-item-1">
				<a href="">Обручальные кольца</a>
			</li>
			<li class="main-nav-item" id="nav-item-2">
				<a href="">Кольца</a>
			</li>
			<li class="main-nav-item" id="nav-item-3">
				<a href="">Серьги</a>
			</li>
			<li class="main-nav-item" id="nav-item-4">
				<a href="">Кулоны</a>
			</li>
			<li class="main-nav-item" id="nav-item-5">
				<a href="">Колье и Цепи</a>
			</li>
			<li class="main-nav-item" id="nav-item-6">
				<a href="">Часы</a>
			</li>
			<li class="main-nav-item" id="nav-item-7">
				<a href="">Серебро</a>
			</li>
			<li class="main-nav-item" id="nav-item-8">
				<a href="">Из ломбарда</a>
			</li>
		</ul>	

		@@include('header-search.html')
	</div>
</div>

