<!-- DROPDOWN-MENU -->

<div class="section">

	<!-- Обручальные кольца -->
	<div nav-item="nav-item-1" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_right">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/OBRUSHALKA.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Обручальные кольца из золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца из белого золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца с бриллиантами</a>
							</li>
							<li>
								<a href="">Помолвочные кольца из белого золота</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Дизайн
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Гладкие обручальные кольца</a>
							</li>
							<li>
								<a href="">Трехсплавные обручальные кольца</a>
							</li>
							<li>
								<a href="">Обручальные кольца с алмазной гранью</a>
							</li>
							<li>
								<a href="">Обручальные кольца с вращающейся вставкой</a>
							</li>
							<li>
								<a href="">Обручальные кольца с одним камнем</a>
							</li>
							<li>
								<a href="">Обручальные кольца дорожка</a>
							</li>
							<li>
								<a href="">Обручальные кольца из белого золота</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Тематика
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Обручальные</a>
							</li>
							<li>
								<a href="">Помолвочные</a>
							</li>
						</ul>
					</div>

					<!-- BUTTON -->

					<!-- <div class="dropdown__category-block">
						<a href="/catalog/chasy/" class="dropdown__category-block_button">Смотреть все часы</a>
					</div> -->

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца со скидкой 50%, 60%, 70%
					</a>
				</div>
			</div>
		</div>
	</div>	

	



	<!-- Кольца -->

	<div nav-item="nav-item-2" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_right">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/KOLZO.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Тематика
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Помолвочные</a>
							</li>
							<li>
								<a href="">Обречальные</a>
							</li>
							<li>
								<a href="">Мужские печатки</a>
							</li>
							<li>
								<a href="">Детские колечки</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Кольца из золота</a>
							</li>
							<li>
								<a href="">Кольца из серебра</a>
							</li>
							<li>
								<a href="">Кольца с бриллиантами</a>
							</li>
							<li>
								<a href="">Кольца с цветными камнями</a>
							</li>
							<li>
								<a href="">Кольца с кристаллами Swarowski</a>
							</li>
							<li>
								<a href="">Кольца с жемчугом</a>
							</li>
							<li>
								<a href="">Кольца бижутерия</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Дизайн
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Дорожка</a>
							</li>
							<li>
								<a href="">Анималистика и всё что с этим связано</a>
							</li>
							<li>
								<a href="">Сердечки</a>
							</li>
							<li>
								<a href="">Малинки</a>
							</li>
							<li>
								<a href="">Символы</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Стиль
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Классика</a>
							</li>
							<li>
								<a href="">Мода</a>
							</li>
							<li>
								<a href="">Тренд</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>	


	


	<!-- Серьги -->

	<div nav-item="nav-item-3" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_right">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SERGI.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Тематика
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Пирсинг</a>
							</li>
							<li>
								<a href="">Серьги - Кольца (Конго)</a>
							</li>
							<li>
								<a href="">Серьги - Гвоздики (Висячие)</a>
							</li>
							<li>
								<a href="">Детские серьги</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Серьги из золота</a>
							</li>
							<li>
								<a href="">Серьги из серебра</a>
							</li>
							<li>
								<a href="">Серьги с бриллиантами</a>
							</li>
							<li>
								<a href="">Серьги с цветными камнями</a>
							</li>
							<li>
								<a href="">Серьги с кристаллами Swarowski</a>
							</li>
							<li>
								<a href="">Серьги с жемчугом</a>
							</li>
							<li>
								<a href="">Серьги бижутерия</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Дизайн
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Анималистика</a>
							</li>
							<li>
								<a href="">Дорожки</a>
							</li>
							<li>
								<a href="">Сердечки</a>
							</li>
							<li>
								<a href="">Малинки</a>
							</li>
							<li>
								<a href="">Цветки</a>
							</li>
							<li>
								<a href="">Английский замок</a>
							</li>
							<li>
								<a href="">Французский замок</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Стиль
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Классика</a>
							</li>
							<li>
								<a href="">Мода</a>
							</li>
							<li>
								<a href="">Тренд</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>	





	<!-- Кулоны -->

	<div nav-item="nav-item-4" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_right">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/KULON.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Стиль
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Классика</a>
							</li>
							<li>
								<a href="">Мода</a>
							</li>
							<li>
								<a href="">Тренд</a>
							</li>
							<li>
								<a href="">Детские серьги</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Кулоны из золота</a>
							</li>
							<li>
								<a href="">Кулоны из серебра</a>
							</li>
							<li>
								<a href="">Кулоны с бриллиантами</a>
							</li>
							<li>
								<a href="">Кулоны с сапфиром</a>
							</li>
							<li>
								<a href="">Кулоны с цветными камнями</a>
							</li>
							<li>
								<a href="">Кулоны с кристаллами Swarowski</a>
							</li>
							<li>
								<a href="">Кулоны с жемчугом</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Дизайн
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Шармы</a>
							</li>
							<li>
								<a href="">На карабине</a>
							</li>
							<li>
								<a href="">Буквы</a>
							</li>
							<li>
								<a href="">Знаки зодиака</a>
							</li>
							<li>
								<a href="">Сердечки</a>
							</li>
							<li>
								<a href="">Символы</a>
							</li>
							<li>
								<a href="">Анималистика</a>
							</li>
							<li>
								<a href="">Крестики</a>
							</li>
							<li>
								<a href="">Лепестки</a>
							</li>
							<li>
								<a href="">Малинки</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>	

	



	<!-- Колье и цепи -->

	<div nav-item="nav-item-5" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_left-right">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/Novoe-Zepi.jpg" alt="">	
				</a>
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/Novoe-Kolie.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li><a href="">Цепи из золота</a></li>
							<li><a href="">Цепи из серебра</a></li>
							<li><a href="">Колье с бриллиантом</a></li>
							<li><a href="">Колье с жемчугом</a></li>
							<li><a href="">Колье бижутерия</a></li>	
							<li><a href="">Шнурок каучуковый</a></li>	
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Длина
						</div>
						<ul class="dropdown__category-block_sizes">
							<li><a href="">40-45 см</a></li>
							<li><a href="">50-55 см</a></li>
							<li><a href="">60-65 см</a></li>
							<li><a href="">70 см</a></li>	
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Дизайн
						</div>
						<ul class="dropdown__category-block_links">
							<li><a href="">Лав</a></li>
							<li><a href="">Нонна</a></li>
							<li><a href="">Бисмарк</a></li>
							<li><a href="">Сингапур</a></li>
							<li><a href="">Ромб</a></li>
							<li><a href="">Якорное</a></li>
							<li><a href="">Ролекс</a></li>
							<li><a href="">Панцирь</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>




	<!-- Часы -->
	<div nav-item="nav-item-6" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_left">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SHASI.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Обручальные кольца из золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца из белого золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца с бриллиантами</a>
							</li>
							<li>
								<a href="">Помолвочные кольца из белого золота</a>
							</li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Стиль
						</div>
						<ul class="dropdown__category-block_links">
							<li>
								<a href="">Классика</a>
							</li>
							<li>
								<a href="">Мода</a>
							</li>
						</ul>
					</div>

					<!-- BUTTON -->

					<div class="dropdown__category-block">
						<a href="/catalog/chasy/" class="dropdown__category-block_button">Смотреть все часы</a>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца до 12000 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						Обручальные кольца со скидкой 50%, 60%, 70%
					</a>
				</div>
			</div>
		</div>
	</div>		

	



	
	<!-- Серебро -->

	<div nav-item="nav-item-7" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_4x-left">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SEREBRO-1.jpg" alt="">	
				</a>
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SEREBRO-2.jpg" alt="">	
				</a>
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SEREBRO-3.jpg" alt="">	
				</a>
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/SEREBRO-4.jpg" alt="">	
				</a>
				<div class="dropdown__category">

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Тип изделия
						</div>
						<ul class="dropdown__category-block_links">
							<li><a href="">Шармы из серебра</a></li>
							<li><a href="">Кулоны на карабине</a></li>
							<li><a href="">Кольца из серебра</a></li>
							<li><a href="">Серьги из серебра</a></li>
							<li><a href="">Браслеты из серебра</a></li>
							<li><a href="">Цепи из серебра</a></li>
							<li><a href="">Серебряные ложечки</a></li>
							<li><a href="">Ложки-загребушки из серебра</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 12000 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 55000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>	

	





	<!-- Из ломбарда -->

	<div nav-item="nav-item-8" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_left">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/BY.jpg" alt="">	
				</a>
				<div class="dropdown__category">

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							По типу
						</div>
						<ul class="dropdown__category-block_links">
							<li><a href="">Кольца</a></li>
							<li><a href="">Серьги</a></li>
							<li><a href="">Кулоны</a></li>
							<li><a href="">Цепи</a></li>
							<li><a href="">Браслеты</a></li>
							<li><a href="">Смотреть все</a></li>
						</ul>
					</div>

					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block_links">
							<li><a href="">Изделия из белого золота</a></li>
							<li><a href="">Изделия из красного золота</a></li>
							<li><a href="">Изделия из комбинированного золота</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="main-nav-item__dropdown_bottom">
			<div class="section__inner">
				<div class="main-nav-item__dropdown_bottom-container">
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 5500 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 8500 рублей
					</a>	
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 12000 рублей
					</a>
					<a href="" class="main-nav-item__dropdown_bottom-link">
						до 55000 рублей
					</a>
				</div>
			</div>
		</div>
	</div>	


</div>
