<div class="header-menu">
	<div class="section__inner header-menu__mobContainer">
		<ul class="header-menu__inner">
			<li class="main-nav-item main-nav-item__catalog">
				<a href="">Каталог</a>
			</li>
			<li class="main-nav-item" id="nav-item-1">
				<a href="">Обручальные кольца</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/wedding.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-2">
				<a href="">Кольца</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/rings.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-3">
				<a href="">Серьги</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/earrings.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-4">
				<a href="">Кулоны</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/pendants.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-5">
				<a href="">Колье и Цепи</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/chain.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-6">
				<a href="">Часы</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/watches.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item" id="nav-item-7">
				<a href="">Серебро</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/silver.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item _main-nav-item__from-lombard" id="nav-item-8">
				<a href="">Из ломбарда</a>
				<a href="" class="mob_ico">
					<img class="mob_ico-svg" src="../images/menu-icons/lombardi.svg" alt="">
				</a>
			</li>
			<li class="main-nav-item main-nav-item__clear"></li>
			<li class="main-nav-item main-nav-item__tags">
				<a href="">Кресты</a>
			</li>
			<li class="main-nav-item main-nav-item__tags">
				<a href="">Ложки</a>
			</li>
			<li class="main-nav-item main-nav-item__tags">
				<a href="">Цепи</a>
			</li>
		</ul>	

		<a href="" class="header-menu__button">
			Наши магазины
		</a>

		@@include('header-search.html')
	</div>
</div>

