
	<ul class="header-menu__inner">
		<li class="main-nav-item main-nav-item__catalog">
			<a href="">Каталог</a>
		</li>
		<li class="main-nav-item">
			<a href="">Обручальные кольца</a>
			<div class="main-nav-item__dropdown">
				какой то текст
			</div>
		</li>
		<li class="main-nav-item">
			<a href="">Кольца</a>
		</li>
		<li class="main-nav-item">
			<a href="">Серьги</a>
		</li>
		<li class="main-nav-item">
			<a href="">Кулоны</a>
		</li>
		<li class="main-nav-item">
			<a href="">Колье и Цепи</a>
		</li>
		<li class="main-nav-item">
			<a href="">Часы</a>
		</li>
		<li class="main-nav-item">
			<a href="">Серебро</a>
		</li>
		<li class="main-nav-item">
			<a href="">Из ломбарда</a>
		</li>
	</ul>	


