<div class="header-search">
  <!-- Поиск Yandex -->
  <div class="ya-site-form ya-site-form_bg_transparent ya-site-form_inited_yes" id="ya-site-form0">
    <div class="ya-site-form__form">
      <table class="ya-site-form__wrap" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="ya-site-form__search-wrap">
              <table class="ya-site-form__search" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td class="ya-site-form__search-input">
                      <table class="ya-site-form__search-input-layout">
                        <tbody>
                          <tr>
                            <td class="ya-site-form__search-input-layout-l">
                              <div class="ya-site-form__input">
                                <input name="text" type="search" value="" class="ya-site-form__input-text" placeholder="Найди своё украшение" style="font-size:10px !important;" autocomplete="off">
                                <div class="ya-site-suggest">
                                  <div class="ya-site-suggest-popup" style="display: none;">
                                    <i class="ya-site-suggest__opera-gap"></i>
                                    <div class="ya-site-suggest-list">
                                      <div class="ya-site-suggest__iframe"></div>
                                      <ul class="ya-site-suggest-items"></ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="ya-site-form__search-input-layout-r"><input class="ya-site-form__submit" type="button" value="Найти" style="outline: 0 !important;margin: 0 0 0 -1px;font-size:10px !important;"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="ya-site-form__gap">
                      <div class="ya-site-form__gap-i"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
