<div class="header-search">
  <!-- Поиск Yandex -->
  <div class="header-search">
    <!-- Поиск Yandex -->
    <div class="ya-site-form ya-site-form_bg_transparent ya-site-form_inited_yes" id="ya-site-form0" onclick="return {'action':'//zoloto585.ru/search/','arrow':false,'bg':'transparent','fg':'#000000','language':'ru','logo':'rb','publicname':'','suggest':true,'target':'_self','tld':'ru','type':2,'usebigdictionary':false,'searchid':2278610,'input_fg':'#000000','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'Найди своё украшение','is_catalog':true}">
      <form action="//site.yandex.ru/search/site/catalog/" method="get" target="_self" accept-charset="utf-8">
        <input name="searchid" value="2278610" type="hidden">
        <input name="l10n" value="ru" type="hidden">
        <input name="reqenc" value="" type="hidden">

        <div class="ya-site-form__form">
          <table class="ya-site-form__wrap" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="ya-site-form__search-wrap">
                  <table class="ya-site-form__search" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td class="ya-site-form__search-input">
                          <table class="ya-site-form__search-input-layout">
                            <tbody>
                              <tr>
                                <td class="ya-site-form__search-input-layout-l">
                                  <div class="ya-site-form__input">
                                    <input name="text" value="" class="ya-site-form__input-text" placeholder="Найди своё украшение" autocomplete="off" type="search">
                                    <div class="ya-site-suggest">
                                      <div class="ya-site-suggest-popup" style="display: none;">
                                        <i class="ya-site-suggest__opera-gap"></i>
                                          <div class="ya-site-suggest-list">
                                            <div class="ya-site-suggest__iframe"></div>
                                            <ul class="ya-site-suggest-items"></ul>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td class="ya-site-form__search-input-layout-r"><input class="ya-site-form__submit" value="Найти" type="submit">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      
                      <tr>
                        <td class="ya-site-form__gap">
                          <div class="ya-site-form__gap-i"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>

  </div>

</div>
