<!-- DROPDOWN-MENU -->

<div class="section">

	<!-- Обручальные кольца -->
	<div nav-item="nav-item-1" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_left">
				<a href="" class="dropdown__image-link">
					<img src="img/promo-banners/new_menu/OBRUSHALKA.jpg" alt="">	
				</a>
				<div class="dropdown__category">
					<div class="dropdown__category-block">
						<div class="dropdown__category-block_title">
							Материал
						</div>
						<ul class="dropdown__category-block-links">
							<li>
								<a href="">Обручальные кольца из золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца из белого золота</a>
							</li>
							<li>
								<a href="">Обручальные кольца с бриллиантами</a>
							</li>
							<li>
								<a href="">Помолвочные кольца из белого золота</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<!-- Кольца -->
	<!-- <div nav-item="nav-item-2" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_right">
				
			</div>
		</div>
	</div>	 -->

	<!-- Серьги -->
<!-- 	<div nav-item="nav-item-3" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_left-right">
				
			</div>
		</div>
	</div>	 -->

	<!-- Кулоны -->
<!-- 	<div nav-item="nav-item-4" class="main-nav-item__dropdown">
		<div class="section__inner">
			<div class="dropdown__image_4x-left">
				
			</div>
		</div>
	</div>	 -->
</div>
