<li class="main-nav__item"  data-inner-list="6">
	<div class="main-nav-level-1">
		<div class="main-nav-level-1__header">ЧАСЫ</div>
		<ul class="main-nav-level-1__list">
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Материал</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_157_2212294583=Y" class="main-nav-level-2__link">Часы из золота</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_157_450215437=Y" class="main-nav-level-2__link">Часы из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2047402582=Y&arrFilter_157_2212294583=Y&arrFilter_157_450215437=Y" class="main-nav-level-2__link">Часы с кожаным ремешком</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2047402582=Y&arrFilter_157_2212294583=Y&arrFilter_157_450215437=Y" class="main-nav-level-2__link">Часы с кожаным ремешком</a></li>
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Часы с браслетом</a></li>-->
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Стиль</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Женские часы</a></li>
						<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Мужские часы</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item  h-hidden">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Механизм</div>
					<ul class="main-nav-level-2__list">
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Механические часы</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Кварцевые часы</a></li>-->
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item  h-hidden">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Производитель</div>
					<ul class="main-nav-level-2__list">
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Ника</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Platinor</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Qwill</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Gold</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Луч</a></li>-->
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2  main-nav-level-2--by-price">
					<div class="main-nav-level-2__header">По цене</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2047402582=Y&arrFilter_P5_MAX=3000" class="main-nav-level-2__link">Часы до 3000 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2047402582=Y&arrFilter_P5_MAX=7500" class="main-nav-level-2__link">Часы до 7500 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2047402582=Y&arrFilter_P5_MAX=12000" class="main-nav-level-2__link">Часы до 12000 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/chasy/?set_filter=y&arrFilter_155_2366072709=Y&arrFilter_149_MAX=100&arrFilter_149_MIN=50" class="main-nav-level-2__link">Часы со скидкой 50%, 60%, 70% </a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<a href="/catalog/chasy/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть все часы</a>
			</li>
		</ul>
	</div>
</li>