<li class="main-nav__item"  data-inner-list="7">
	<div class="main-nav-level-1">
		<div class="main-nav-level-1__header">СЕРЕБРО</div>
		<ul class="main-nav-level-1__list">
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Тип изделия</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?arrFilter_196_2466206161=Y&set_filter=y&arrFilter_155_1662243607=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y&arrFilter_165_2889884971=Y" class="main-nav-level-2__link">Шармы из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/" class="main-nav-level-2__link">Кулоны на карабине</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2473281379=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Кольца из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_3510096238=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Серьги из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1842515611=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Браслеты из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2366072709=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Цепи из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?arrFilter_196_2466206161=Y&set_filter=y&arrFilter_155_174200537=Y&arrFilter_155_2788221432=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Серебряные ложечки</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_219140800=Y&arrFilter_157_450215437=Y&arrFilter_158_3596227959=Y" class="main-nav-level-2__link">Ложки-Загребушки из серебра</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Коллекции</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/collection/kollektsiya-imagine/" class="main-nav-level-2__link">Классика imagine</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/collection/kollektsiya-charmony/" class="main-nav-level-2__link">Керамика charmony</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/collection/-laerte/" class="main-nav-level-2__link">Наборные кольца и браслеты laerte</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/collection/-mademoiselle/" class="main-nav-level-2__link">Модные украшения mademoiselle</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<a href="/catalog/yuvelirnye_izdeliya/serebro-925-proby/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть всё серебро</a>
			</li>
		</ul>
	</div>
</li>