<li class="main-nav__item"  data-inner-list="8">
	<div class="main-nav-level-1">
		<div class="main-nav-level-1__header">БИЖУТЕРИЯ</div>
		<ul class="main-nav-level-1__list">
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">По типу</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_2473281379=Y" class="main-nav-level-2__link">Кольца бижутерия</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_3510096238=Y" class="main-nav-level-2__link">Серьги бижутерия</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_1842515611=Y" class="main-nav-level-2__link">Браслеты бижутерия</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_1685985038=Y" class="main-nav-level-2__link">Колье бижутерия</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_326707096=Y" class="main-nav-level-2__link">Комплекты бижутерия</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Стиль</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_156_2212294583=Y" class="main-nav-level-2__link">Классика</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_156_450215437=Y" class="main-nav-level-2__link">Мода </a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_156_4088798008=Y" class="main-nav-level-2__link">Тренд</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Событие</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_156_2212294583=Y" class="main-nav-level-2__link">На каждый день (классика)</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_156_450215437=Y" class="main-nav-level-2__link">На вечеринку (мода)</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<a href="/catalog/bizhuteriya/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть всю бижутерию</a>
			</li>
		</ul>
	</div>
</li>