						<li class="main-nav__item"  data-inner-list="1">
							<div class="main-nav-level-1">
								<div class="main-nav-level-1__header">ОБРУЧАЛЬНЫЕ КОЛЬЦА</div>
								<ul class="main-nav-level-1__list">
									<li class="main-nav-level-1__item">
										<div class="main-nav-level-2">
											<div class="main-nav-level-2__header">Тематика</div>
											<ul class="main-nav-level-2__list">
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/" class="main-nav-level-2__link">Обручальные</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/pomolvochnie/" class="main-nav-level-2__link">Помолвочные</a></li>
											</ul>
										</div>
									</li>
									<li class="main-nav-level-1__item">
										<div class="main-nav-level-2">
											<div class="main-nav-level-2__header">Материал</div>
											<ul class="main-nav-level-2__list">
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/iz-zolota/" class="main-nav-level-2__link">Обручальные кольца из золота</a></li>
												<!-- <li class="main-nav-level-2__item"><a href="" class="main-nav-level-2__link">Обручальные кольца из серебра</a></li> -->
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/white_gold/" class="main-nav-level-2__link">Обручальные кольца из белого золота</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/s_brilliantami/" class="main-nav-level-2__link">Обручальные кольца с бриллиантами</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/pomolvochnie/iz-belogo-zolota/" class="main-nav-level-2__link">Помолвочные кольца из белого золота</a></li>
											</ul>
										</div>
									</li>
									<li class="main-nav-level-1__item">
										<div class="main-nav-level-2">
											<div class="main-nav-level-2__header">Дизайн</div>
											<ul class="main-nav-level-2__list">
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/gladkie/" class="main-nav-level-2__link">Гладкие обручальные кольца</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/trekhsplavnye/" class="main-nav-level-2__link">Трехсплавные обручальные кольца</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/s-almaznoi-graniu/" class="main-nav-level-2__link">Обручальные кольца с алмазной гранью</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/s-vrashhayushhejsya-vstavkoj/" class="main-nav-level-2__link">Обручальные кольца с вращающейся встакой</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?utm_source=yandex&&utm_campaign=GOLD_million_general&&utm_medium=cpc&&yclid=2829338717609790411&&set_filter=y&&arrFilter_155_2473281379=Y&&arrFilter_165_4196041389=Y&&arrFilter_171_2212294583=Y" class="main-nav-level-2__link">Обручальные кольца с одним камнем</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/dorozhka/" class="main-nav-level-2__link">Обручальные кольца дорожка</a></li>
											</ul>
										</div>
									</li>
									<li class="main-nav-level-1__item">
										<div class="main-nav-level-2  main-nav-level-2--by-price">
											<div class="main-nav-level-2__header">По цене</div>
											<ul class="main-nav-level-2__list">
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2473281379=Y&arrFilter_165_1790921346=Y&arrFilter_165_2871910706=Y&arrFilter_165_2322626082=Y&arrFilter_165_4252452532=Y&arrFilter_165_4196041389=Y&arrFilter_P5_MAX=5500" class="main-nav-level-2__link">Обручальные кольца до 5500 рублей</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2473281379=Y&arrFilter_165_1790921346=Y&arrFilter_165_2871910706=Y&arrFilter_165_2322626082=Y&arrFilter_165_4252452532=Y&arrFilter_165_4196041389=Y&arrFilter_P5_MAX=85" class="main-nav-level-2__link">Обручальные кольца до 8500 рублей</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2473281379=Y&arrFilter_165_1790921346=Y&arrFilter_165_2871910706=Y&arrFilter_165_2322626082=Y&arrFilter_165_4252452532=Y&arrFilter_165_4196041389=Y&arrFilter_P5_MAX=12" class="main-nav-level-2__link">Обручальные кольца до 12000 рублей</a></li>
												<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?utm_source=yandex&utm_campaign=585gold_SPb_general&utm_medium=cpc&yclid=2839643960122805207&set_filter=y&arrFilter_155_2473281379=Y&arrFilter_165_1790921346=Y&arrFilter_165_2871910706=Y&arrFilter_165_2322626082=Y&arrFilter_165_4252452532=Y&arrFilter_165_4196041389=Y&arrFilter_149_MAX=100&arrFilter_149_MIN=50
" class="main-nav-level-2__link">Обручальные кольца со скидкой 50%, 60%, 70%</a></li>
											</ul>
										</div>
									</li>
									<li class="main-nav-level-1__item">
										<a href="/catalog/yuvelirnye_izdeliya/kolca/obruchalnye/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть все обручальные кольца</a>
									</li>
								</ul>
							</div>
						</li>