<li class="main-nav__item"  data-inner-list="5">
	<div class="main-nav-level-1">
		<div class="main-nav-level-1__header">КОЛЬЕ и ЦЕПИ</div>
		<ul class="main-nav-level-1__list">
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Материал</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_156_1842515611=Y&arrFilter_157_2212294583=Y" class="main-nav-level-2__link">Цепи из золота</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_156_1842515611=Y&arrFilter_157_450215437=Y" class="main-nav-level-2__link">Цепи из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_162_2707236321=Y" class="main-nav-level-2__link">Колье с бриллиантом</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_162_450215437=Y&arrFilter_162_4088798008=Y&arrFilter_162_1060745282=Y&arrFilter_162_174200537=Y&arrFilter_162_3808539628=Y&arrFilter_162_945058907=Y&arrFilter_162_2226203566=Y" class="main-nav-level-2__link">Колье с цветными камнями</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_162_1060745282=Y" class="main-nav-level-2__link">Колье с жемчугом</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/bizhuteriya/?set_filter=y&arrFilter_155_1685985038=Y&arrFilter_155_2366072709=Y" class="main-nav-level-2__link">Колье бижутерия</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_1886922373=Y" class="main-nav-level-2__link">Шнурок каучуковый</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Дизайн</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_743589328=Y" class="main-nav-level-2__link">Лав</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_3421137111=Y" class="main-nav-level-2__link">Нонна</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_3678868925=Y" class="main-nav-level-2__link">Бисмарк</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_1997922972=Y" class="main-nav-level-2__link">Сингапур</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_1233418=Y" class="main-nav-level-2__link">Ромб</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_3771153172=Y" class="main-nav-level-2__link">Якорное</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_2568717232=Y" class="main-nav-level-2__link">Ролекс</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_165_3169671233=Y" class="main-nav-level-2__link">Панцирь</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item  h-hidden">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Вес</div>
					<ul class="main-nav-level-2__list">
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Легкие цепочки</a></li>-->
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Тяжелые цепочки</a></li>-->
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2  main-nav-level-2--like-numerics">
					<div class="main-nav-level-2__header">Длина</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1685985038=Y&arrFilter_155_2366072709=Y&arrFilter_152_1109396908=Y&arrFilter_152_3895051559=Y&arrFilter_152_1979645342=Y&arrFilter_152_1732989552=Y&arrFilter_152_3757520149=Y&arrFilter_152_2134909980=Y" class="main-nav-level-2__link">50</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1685985038=Y&arrFilter_155_2366072709=Y&arrFilter_152_1218368558=Y&arrFilter_152_954228428=Y" class="main-nav-level-2__link">60</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1685985038=Y&arrFilter_155_2366072709=Y&arrFilter_152_255766270=Y&arrFilter_152_92305276=Y" class="main-nav-level-2__link">70</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2  main-nav-level-2--by-price">
					<div class="main-nav-level-2__header">По цене</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_P5_MAX=3000" class="main-nav-level-2__link">Цепи до 3000 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_P5_MAX=8500" class="main-nav-level-2__link">Цепи до 8500 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/cepi/?set_filter=y&arrFilter_P5_MAX=15000" class="main-nav-level-2__link">Цепи до 15000 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_2366072709=Y&arrFilter_149_MAX=100&arrFilter_149_MIN=50" class="main-nav-level-2__link">Цепи со скидкой 50%, 60%, 70% </a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<a href="/catalog/yuvelirnye_izdeliya/cepi/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть все цепи</a>
			</li>
		</ul>
	</div>
</li>