<li class="main-nav__item"  data-inner-list="4">
	<div class="main-nav-level-1">
		<div class="main-nav-level-1__header">КУЛОНЫ</div>
		<ul class="main-nav-level-1__list">
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Материал</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_157_2212294583=Y" class="main-nav-level-2__link">Кулоны из золота</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_157_450215437=Y" class="main-nav-level-2__link">Кулоны из серебра</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_162_2707236321=Y" class="main-nav-level-2__link">Кулоны с бриллиантами</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_162_1842515611=Y&arrFilter_162_450215437=Y&arrFilter_162_4252452532=Y&arrFilter_162_2483454842=Y&arrFilter_162_4088798008=Y&arrFilter_162_2788221432=Y&arrFilter_162_3510096238=Y&arrFilter_162_1060745282=Y&arrFilter_162_174200537=Y&arrFilter_162_3693793700=Y&arrFilter_162_2047402582=Y&arrFilter_162_3632373061=Y&arrFilter_162_2225864208=Y&arrFilter_162_2366072709=Y&arrFilter_162_1790921346=Y&arrFilter_162_841265288=Y&arrFilter_162_3808539628=Y&arrFilter_162_945058907=Y&arrFilter_162_2226203566=Y&arrFilter_162_894006417=Y&arrFilter_162_498629140=Y&arrFilter_162_2212294583=Y&arrFilter_162_219140800=Y&arrFilter_162_3678868925=Y&arrFilter_162_1662243607=Y" class="main-nav-level-2__link">Кулоны с цветными камнями</a></li>
						<li class="main-nav-level-2__item"><a href="пока нет фильтра" class="main-nav-level-2__link">Кулоны с кристаллами Swarovski </a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_162_1060745282=Y" class="main-nav-level-2__link">Кулоны с жемчугом</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Дизайн</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2889884971=Y" class="main-nav-level-2__link">Шармы</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski-breloki-sharmy-s-karabinom/" class="main-nav-level-2__link">На карабине</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_1330857165=Y" class="main-nav-level-2__link">Буквы</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2788221432=Y" class="main-nav-level-2__link">Знаки Зодиака</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2707236321=Y" class="main-nav-level-2__link">Сердца</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2225864208=Y" class="main-nav-level-2__link">Символы</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2944839123=Y" class="main-nav-level-2__link">Анималистика</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_498629140=Y" class="main-nav-level-2__link">Крестики</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_1685985038=Y" class="main-nav-level-2__link">Нательные иконы</a></li>
						<!--<li class="main-nav-level-2__item"><a href="#" class="main-nav-level-2__link">Мусульманам</a></li>-->
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_2212294583=Y" class="main-nav-level-2__link">Лепестки</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_3510096238=Y" class="main-nav-level-2__link">Малинки</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_165_841265288=Y" class="main-nav-level-2__link">Многокаменка, как один</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2">
					<div class="main-nav-level-2__header">Стиль</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_156_2212294583=Y" class="main-nav-level-2__link">Классика</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_156_450215437=Y" class="main-nav-level-2__link">Мода</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_156_4088798008=Y" class="main-nav-level-2__link">Тренд</a></li>
					</ul>
				</div>
			</li>
			<li class="main-nav-level-1__item">
				<div class="main-nav-level-2  main-nav-level-2--by-price">
					<div class="main-nav-level-2__header">По цене</div>
					<ul class="main-nav-level-2__list">
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_P5_MAX=700" class="main-nav-level-2__link">Кулоны до 700 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_P5_MAX=1500" class="main-nav-level-2__link">Кулоны до 1500 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/podveski/?set_filter=y&arrFilter_P5_MAX=5000" class="main-nav-level-2__link">Кулоны до 5000 рублей</a></li>
						<li class="main-nav-level-2__item"><a href="/catalog/yuvelirnye_izdeliya/?set_filter=y&arrFilter_155_1662243607=Y&arrFilter_149_MAX=100&arrFilter_149_MIN=50" class="main-nav-level-2__link">Кулоны со скидкой 50%, 60%, 70% </a></li>
					</ul>
				</div>
			</li>
			<!-- <li class="main-nav-level-1__item">
				<a href="/catalog/yuvelirnye_izdeliya/podveski/" class="main-nav-level-1__link  main-nav-level-1__link--all-items">Смотреть все кулоны</a>
			</li> -->
		</ul>
	</div>
</li>