<div class="shop-location">
    <div class="section shop-location__top">
        <div class="section__inner">
            <ul>
                <li class="shop-info__list-item shop-info__list-item--text"><b>Как к нам добраться:</b></li>
                <li class="shop-info__list-item">
                    <i class="shop-icon shop-icon--yandex"></i>
                    <a href="#">
                        построить маршрут<br>
                        на яндекс картах
                    </a>
                </li>
                <li class="shop-info__list-item shop-info__list-item--gps">
                    <i class="shop-icon shop-icon--gps"></i>
                    <b>GPS координаты:</b><br>
                    (47.104732, 39.427255)
                </li>
                <li class="shop-info__list-item">
                    <a href="#" class="button">скопировать GPS координаты ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-location__text js-toggle-parent">
        <div class="section js-toggle-btn">
            <div class="section__inner">
                подробное описание:
            </div>
        </div>
        <div class="section js-toggle-content">
            <div class="section__inner">
                <p>
                    Последний вагон из центра, подняться по эскалатору, после стеклянных дверей повернуть направо и налево по лестнице. Через 15 шагов после того, как вы выйдете из перехода, по правую руку от себя вы увидите магазин GOLD.  Последний вагон из центра, подняться по эскалатору, после стеклянных дверей повернуть направо и налево по лестнице. Через 15 шагов после того, как вы выйдете из перехода, по правую руку от себя вы увидите магазин GOLD.  Последний вагон из центра, подняться по эскалатору, после стеклянных дверей повернуть направо и налево по лестнице. Через 15 шагов после того, как вы выйдете из перехода, по правую руку от себя вы увидите магазин GOLD.  Последний вагон из центра, подняться по эскалатору, после стеклянных дверей повернуть направо и налево по лестнице. Через 15 шагов после того, как вы выйдете из перехода, по правую руку от себя вы увидите магазин GOLD.
                </p>
            </div>
        </div>
    </div>
    <div class="shop-location__map-block js-toggle-parent">
        <div class="section shop-location__map-header js-toggle-btn">
            <div class="section__inner">
                на карте
            </div>
        </div>
        <div class="shop-location__map js-toggle-content">
            Карта
        </div>
    </div>
</div>
