<div class="shop-info h-clearfix">
    <div class="section shop-info__header">
        <div class="section__inner">
            <h1 class="shop-info__title">Магазин 585Gold</h1>
            <div class="shop-info__availability">
                в магазине  сейчас в наличии<br>
                более 1000 ювелирных изделий
            </div>
        </div>
    </div>
    <div class="section__inner">
        <div class="shop-info__slider">
            <div class="fotorama" data-width="100%" data-arrows="false">
                <img src="img/stub/shop.png" itemprop="image">
                <img src="img/stub/shop.png" itemprop="image">
                <img src="img/stub/shop.png" itemprop="image">
            </div>
        </div>
        <div class="shop-info__locations">
            <ul class="shop-info__info-list">
                <li class="shop-info__list-item">
                    <i class="shop-icon shop-icon--point"></i>
                    <span>город:</span>
                    <a href="#">Санкт-Петербург</a>
                </li>
                <li class="shop-info__list-item">
                    <span>Адрес:</span>
                    Б. Московская, 1-3/2
                </li>
                <li class="shop-info__list-item">
                    <i class="shop-icon shop-icon--clock"></i>
                    <span>режим работы:</span>
                    ежедневно,  10:00-20:00
                </li>
                <li class="shop-info__list-item shop-info__list-item--phone">
                    <i class="shop-icon shop-icon--phone"></i>
                    + 7 000 00 00 00<br>
                    <a href="#">заказать обратный звонок</a>
                </li>
            </ul>
        </div>
    </div>
</div>
