<div class="header-middle__countdown">
    <div class="header-middle__countdown-block js-countdown-header">
        <!-- DIAS -->
        <div class="bloc-time days" data-init-value="7">
            <span class="count-title">Дней</span>

            <div class="figure days days-1">
                <span class="top">9</span>
                <span class="top-back">
                    <span>9</span>
                </span>
                <span class="bottom">9</span>
                <span class="bottom-back">
                    <span>9</span>
                </span>
            </div>

            <div class="figure days days-2">
                <span class="top">9</span>
                <span class="top-back">
                    <span>9</span>
                </span>
                <span class="bottom">9</span>
                <span class="bottom-back">
                    <span>9</span>
                </span>
            </div>
        </div>
        <!-- HORAS -->
        <div class="bloc-time hours" data-init-value="24">
            <span class="count-title">Часов</span>

            <div class="figure hours hours-1">
                <span class="top">2</span>
                <span class="top-back">
                    <span>2</span>
                </span>
                <span class="bottom">2</span>
                <span class="bottom-back">
                    <span>2</span>
                </span>
            </div>

            <div class="figure hours hours-2">
                <span class="top">4</span>
                <span class="top-back">
                    <span>4</span>
                </span>
                <span class="bottom">4</span>
                <span class="bottom-back">
                    <span>4</span>
                </span>
            </div>
        </div>
        <!-- MINUTOS -->
        <div class="bloc-time min" data-init-value="0">
            <span class="count-title">Минут</span>

            <div class="figure min min-1">
                <span class="top">5</span>
                <span class="top-back">
                      <span>5</span>
                </span>
                <span class="bottom">5</span>
                <span class="bottom-back">
                      <span>5</span>
                </span>
            </div>

            <div class="figure min min-2">
                <span class="top">9</span>
                <span class="top-back">
                  <span>9</span>
                </span>
                <span class="bottom">9</span>
                <span class="bottom-back">
                  <span>9</span>
                </span>
            </div>
        </div>
        <!-- SEGUNDOS -->
        <div class="bloc-time sec" data-init-value="0">
            <span class="count-title">Секунд</span>

            <div class="figure sec sec-1">
                <span class="top">5</span>
                <span class="top-back">
                  <span>5</span>
                </span>
                <span class="bottom">5</span>
                <span class="bottom-back">
                  <span>5</span>
                </span>
            </div>

            <div class="figure sec sec-2">
                <span class="top">9</span>
                <span class="top-back">
                  <span>9</span>
                </span>
                <span class="bottom">9</span>
                <span class="bottom-back">
                  <span>9</span>
                </span>
            </div>
        </div>
    </div>
    <div class="header-middle__countdown-text">
        <span>осталось до конца акции</span>
        Sale 80% на кольца
    </div>
</div>
