<div class="header-top__item  top-basket" data-opened="0" data-partial="topbasket">
	<a href="/basket" class="top-basket__button">Корзина ( 12 )</a>
	<div class="top-basket__button" data-btn="open">( 12 )</div>
  <div class="top-basket__inner">
    <ul class="top-basket__list">
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <a href="#" class="top-basket__info">
          <div class="top-basket__info-text">
            Кольцо серебряное с фианитами 
          </div>
          <span>2030 P</span>
        </a>
        <a href="#" class="top-basket__remove">X</a>
      </li>
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <a href="#" class="top-basket__info">
          <div class="top-basket__info-text">
            Кольцо серебряное с фианитами 
          </div>
          <span>2030 P</span>
        </a>
        <a href="#" class="top-basket__remove">X</a>
      </li>
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <a href="#" class="top-basket__info">
          <div class="top-basket__info-text">
            Кольцо серебряное с фианитами 
          </div>
          <span>2030 P</span>
        </a>
        <a href="#" class="top-basket__remove">X</a>
      </li>
    </ul>
    <a href="/basket" class="btn top-basket__btn">Перейти в корзину</a>
  </div>
</div>
