<div class="header-top__item  top-basket">
	<a href="#" class="top-basket__button">Корзина ( 12 )</a>
  <div class="top-basket__inner">
    <ul class="top-basket__list">
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <div class="top-basket__info">
          Кольцо серебряное с фианитами
          <span>2030 P</span>
        </div>
        <a href="#" class="top-basket__remove">X</a>
      </li>
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <div class="top-basket__info">
          Кольцо серебряное с фианитами
          <span>2030 P</span>
        </div>
        <a href="#" class="top-basket__remove">X</a>
      </li>
      <li>
        <a href="#" class="top-basket__img">
          <img src="img/pic/img_6995s_194_194_5_80.jpg" alt="">
        </a>
        <div class="top-basket__info">
          Кольцо серебряное с фианитами
          <span>2030 P</span>
        </div>
        <a href="#" class="top-basket__remove">X</a>
      </li>
    </ul>
    <a href="#" class="btn top-basket__btn">Перейти в корзину</a>
  </div>
</div>
