.pcard-advantanges{
    padding: 6px 0;
    border-top: 1px solid #e1e1e1;
    @media screen and (max-width: @tablet_a-min){
        display: none;
    }
    &__item{
        float: left;
        width: 25%;
        height: 48px;
        .font-circe_light(12px, 14px, #333);
        position: relative;
        padding-left: 55px;
        @media @touch{
            line-height: 1;
        }
    }
    &__img{
        display: block;
        width: 48px;
        height: 48px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__title{
        .font-circe_regular(12px, 14px, #333);
        text-transform: uppercase;
        line-height: 14px;
        padding-top: 10px;
        @media @touch{
            padding-top: 3px;
            margin-bottom: 3px;
        }
    }

}
