<div class="footer-accordions">
    <div class="item">
        <div class="item-inner">
            <span>О 585GOLD</span>
            <ul class="accord">
                <li><a href="/about/">О компании</a></li>
                <li><a href="/action/">Акции</a></li>
                <li><a href="/news/">Новости</a></li>
                <li><a href="//lombard.zoloto585.ru/ ">Ломбарды</a></li>
                <li><a href="/vacansii/">Вакансии</a></li>
                <li><a href="/about/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="item-inner">
            <span>ПОМОЩЬ ПОКУПАТЕЛЯМ</span>
            <ul class="accord">
                <li><a href="/bonusnye_karty/faq.php">Как получить бонусную карту</a></li>
                <li><a href="/garanty/">Гарантия</a></li>
                <li><a href="/vozvrat/">Возврат</a></li>
                <li><a href="/about/address/">Адреса магазинов</a></li>
                <li><a href="/about/pravila_pokupki/">Бронирование изделий</a></li>
                <li><a href="/about/delivery/">Доставка</a></li>
            </ul>
        </div>
    </div>
    <div class="item">
        <div class="item-inner">
            <span>ВАЖНАЯ ИНФОРМАЦИЯ</span>
            <ul class="accord">
                <li><a href="/more-bleska/">Журнал</a></li>
                <li><a href="/kredit/">Купить в кредит </a></li>
                <li><a href="/registraciya_karty/">Бонусные карты</a></li>
                <li><a href="/about/podarochnye_sertifikaty/">Подарочные сертификаты</a></li>
                <li><a href="/sitemap.php">Карта сайта</a></li>
                <li><a href="/unsubscribe-sms/">Отписаться от рассылки sms</a></li>
            </ul>
        </div>
    </div>
</div>